.poll-filter-container {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  margin-bottom: 5px;
  padding-left: 6px;
}

.poll-filter-container.poll-filter-container-top {
  margin-left: 0px;
  border-left: 0;
}

.poll-filter-aggregate {
  
}

.aq-attribute-toggle {
  cursor: pointer;
}