#current_user_dashboard_avatar
{
  float: left;
  margin-top: -60px;
  border: 1px solid #fff;  
  border-radius: 50%;
}

h4 > small {
  color: #30415F;  
  font-size: 0.8rem;
}

.dashboard-border-lr { 
  border-left: solid 1px #E6ECF0;
  border-right: solid 1px #E6ECF0; 
}