.action
{
  text-indent: 0;
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: block;
}

.action.btn
{
  width: auto;
  height: auto;
}

.actions
{
  width: 36px;
  white-space: nowrap;
  text-align: right;
}

.actions > *
{
  cursor: pointer;
}

.actions .ui-icon
{
  display: inline-block;    
}

.actions .ui-state-default, .actions .ui-state-hilight
{
  border: solid 1px #d3d3d3;  
  /*width: 18px;
  height: 18px;
  line-height: 18px; */
}

/*.actions > span
{
  margin-left: 3px;
  cursor: pointer;
}    */

.alternating
{
  background-color: #333;
}

.clear  { clear: both; }
.clickable { cursor: pointer; }
.code, .ui-widget .code { font-family: Courier New, Chicago, Mono; font-size: 11pt; }
.column { float: left; }

span.data-action
{  
  padding: 3px;
  cursor: pointer;
  margin-right: 3px;
}

span.data-action.action
{
  padding: 0;
}

.data-action > img
{
  vertical-align: text-bottom;    
}

.data-table
{
  width: 100%;
  border-collapse: collapse;
}

.data-table > tbody > tr > td, .data-table > tbody > tr > th
{
  margin: 0;
  padding: 4px;
}

.date
{
  width: 100px;
}

.digifi-form
{
  width: 100%;
}

.digifi-form th
{
  vertical-align: top;
  white-space: nowrap;
  width: 120px;
}

.digifi-form th, .digifi-form td
{
  padding: 4px;
}

.digifi-group-header  h2
{
  margin: 0 0 4px 0;
  padding: 0;
  color: #aaa;
  border-bottom: solid 1px #aaa;
}

.digifi-icon
{
  overflow: hidden;  
}

.digifi-page-numbers
{
  border-top: 1px solid #aaa;
  padding-top: 3px;  
}

.digifi-page-numbers > ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.digifi-page-numbers > ul > li
{
  float: left;
  margin-right: 6px;
  color: #a22;
  cursor: pointer;
}

.digifi-page-numbers > ul > li.hover
{
  color: #22a;
}

.digifi-page-numbers > ul > li.current-page
{
  font-weight: bold;
  font-size: 1.1em;
}

.digifi-panel > h3 { padding: 3px; text-indent: 15px; }
.digifi-panel > h3 > .action, .panel-heading > h3 > .action
{
  float: right;
  margin-left: 4px;
  cursor: pointer;
}

.digifi-panel-content { padding: 10px; }

.digifi-popup
{
  width: 350px;
}

.digifi-slideshow
{
  position: static;
}

.digifi-slideshow-nav
{
  position: absolute;
  margin-left: 15px;
}

.digifi-slideshow-panel
{
  position: absolute;
}

.digifi-slideshow-nav > img { margin-right: 5px; cursor: pointer; }

.digifi-title-menu ul
{
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;  
}

.digifi-title-menu > ul > li
{
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.digifi-title-menu > ul > li ul
{
  display: none;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.digifi-title-menu > ul > li ul > li
{
  padding: 4px;
  cursor: pointer;
  text-align: left;
}

.digifi-title-menu > ul > li ul > li a, .digifi-title-menu > ul > li ul > li a:visited
{
  color: #000;
  font-weight: normal;
}

.errors
{
  color: #eaa;
  font-size: 0.9em;
}

.errors ul
{  
  padding: 0;
  margin-left: 25px;
}

.help-text
{
  font-style: italic;
  color: #888;
  font-size: 0.8em;
}

.hidden { display: none; }

.integer { width: 80px; }

label { cursor: pointer; }

.list-item-icons
{
  margin: 3px 0 3px 0;  
  padding: 0;
  text-indent: 0;
  list-style: none;
}

.list-item-icons li
{
  margin: 2px;
  padding: 4px 0;
  list-style: none;
  float: left;
  text-align: center;
  cursor: pointer;
}

.list-item-icons li span.ui-icon
{
  float: left;
  margin: 0 4px;
}

.m3 { margin: 3px; }
.m4 { margin: 4px; }
.m8 { margin: 8px; }
.m10 { margin: 10px; }
.ma { margin: auto; }

.money { width: 90px; }

.no-list { list-style: none; margin: 0; padding: 0; text-indent: 0; }
.nw { white-space: nowrap; }

.pw80 { width: 80px; }
.pw120 { width: 120px; }
.pw200 { width: 200px; }
.pw350 { width: 350px; }
.pw450 { width: 450px; }
.pw550 { width: 550px; }
.pw650 { width: 650px; }
.pw800 { width: 800px; }
.pw1024 { width: 1024px; }

.rr5
{
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px; 
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px; 
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px; 
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px; 
}

.rr10
{
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px; 
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px; 
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px; 
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px; 
}

.tc { text-align: center; }

th {
  text-align: left;
}

th.required
{
  background-image: url(Images/required.png);
  background-repeat: no-repeat;
  background-position: right 5px;
  padding-right: 13px;
}

th.digifi-sortable
{
  color: #a22;
  cursor: pointer;
}

th.digifi-sortable img.sort-arrow
{
  vertical-align: text-top;
  margin-left: 3px;
}

th.digifi-sortable.hover
{
  color: #22a;
}

.tl { text-align: left; }
.tr { text-align: right; }

.ui-datepicker-trigger { margin-left: 4px; vertical-align: text-bottom; }

.ui-widget { font-size: 13px; }

.vb { vertical-align: bottom; }
.vt { vertical-align: top; }
.vtb { vertical-align: text-bottom; }
.vm { vertica-align: middle; }

.w25 { width: 25%; }
.w33 { width: 33.33%; }
.w50 { width: 50%; }
.w66 { width: 66.66%; }
.w75 { width: 75%; }
.w100 { width: 100%; }