.digifi-add .digifi-edit-visible { display: none; }
.digifi-edit .digifi-add-visible { display: none; }
.digifi-popup { display: none;  }
.digifi-panel  { margin-bottom: 20px; }
.digifi-actions { text-align: right; }
.digifi-actions .btn { cursor: pointer; margin-left: 5px; }
select, input { color: #000 !important; }
.form-group.digifi-required label:after { 
    content: ' *';
    text-align: right;
    font-weight: bold;        
    color: #990000;
}
*[data-digifi-action] { cursor: pointer; }

th[data-digifi-sortcolumn] {
  cursor: pointer;
  color: #009; 
}

th[data-digifi-sortcolumn].active:after {
  display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  content: ' \f139';
  text-align: right; 
  margin-left: 4px;
}

th[data-digifi-sortcolumn].active.descending:after {
  content: ' \f13a';
}
