a { color: #49abde; }
a.visited { color: #49abde; }

body {
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  /*font-size: 18pt;*/
}

body.poll-logged-in {
  margin-top: 265px;
}   

button {
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  cursor: pointer; 
}

input, optgroup, select, textarea {
  color: #464a4c !important;
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

.container-fluid {
  height: 100%; 
}

.map-container { 
  position: relative;
  height:350px;
  width:100%
}

#poll_map {
  width: 100%;
  height: 100%;  
}

.map-outer-container {
  width: calc(100% - 48px); 
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 0.75s; /* Safari */
  transition: width 0.75s;
}

.legend-container { 
  width: 48px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 0.75s; /* Safari */
  transition: width 0.75s;
  white-space: nowrap;
}

.legend-container .list-group-item {
  white-space: nowrap;
  overflow: hidden; 
}

.legend-text {
  display: none; 
}

#legend_toggler {
  display: none;
}


#legend_toggler:checked ~ div {
  width: 50%; 
}

#legend_toggler:checked ~ div .legend-text {
  display: inline-block;
}

.pollsite-footer {
	color: #fff;
	background-color: #134fa1;
}

.pollsite-footer a {
  color: #41abde;
}

#poll_reaction_list {
  display: none;   
}

.poll-reaction-emojis {
  font-size: 32pt;
}