.poll-event-header {
  height: 80px;
  border-bottom: 1px solid #009;  
}

.poll-event-header h1 {
  line-height: 80px;
  margin: 0;
  padding: 0; 
  padding-left: 20px;
}

.event-title {
  color: #fff;
  font-weight: bold;
  margin-top: 160px; 
  font-size: 4rem;
  text-shadow: 5 5 #000;
}

.poll-avatar.poll-checked-in {
  border: 2px solid #090;   
}

.poll-checkmark {
  position: absolute;  
  color: #afa;  
  margin-left: 8px;
  margin-top: 6px;
}