#chat_interfaces {
  background-color: #fff;
}

#chat_interfaces .poll-chat-message {
  padding: 20px;
  background-color: #e5f5f9; 
  width: auto;
  display: inline-block;  
  clear: both;
}

#chat_interfaces .poll-chat-self {
  text-align: right;
}

#chat_interfaces .poll-chat-message.poll-chat-self {
  background-color: #1ea6cc; 
  color: #fff;
}

.messaging-cr {
  background-color: #2db9d8; 
  color: #fff;
  overflow: hidden;
}

#chat_room_header {
	border-top-left-radius: .25rem; 
  font-size: 1.5rem;
}

#chat_title_header {
  background-color: #0076b5;      
  color: #fff;
  border-top-right-radius: .25rem;
  font-size: 1.5rem;
}

.poll-message-delete {
  opacity: 0.05; 
  cursor: pointer;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.poll-message-delete:hover {
  opacity: 0.8;
}

.poll-chat-room {
  margin-left: 2px;   
  background-color: #2db9d8;
  color: #97eeff;
}

.poll-chat-room > .media {
  padding-left: 5%;
}

.poll-chat-room.active {
  margin-left: -4px; 
  background-color: #1190c2; 
  border-color: #1190c2;
}

.poll-chat-room.active .fa.text-muted {
  color: #fff !important;
}

.poll-chat-room.poll-chat-unread
{
  background-color: #61cee3; 
}

.poll-chat-room h6 {
  color: #fff;
}

.poll-chat-room .badge {
  background-color: #1ea6cc !important;
  color: #61cee3;
}

.poll-chat-room.active .badge {
  background-color: #fff !important;
  color: #2db9d8;
}

.poll-chat-room.list-group-item-action:focus, .poll-chat-room.list-group-item-action:hover {
	background-color: #97eeff;
}

.poll-chat-room.list-group-item-action:focus h6, .poll-chat-room.list-group-item-action:hover h6 {
	color: #000;
}

.poll-chatbox {
  border-bottom: solid 1px #1ea6cc;
}

.poll-chatbox textarea {
  border: 0;
  resize: none;  
}

.poll-chat-date {
  text-align: center; 
  color: #888;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  background: #aaa; height:1px; margin-top:10px;
}

.poll-chat-date > span { 
  background: #fff; padding:10px; position:relative; top:-17px;
}