a { color: #49abde; }
a.visited { color: #49abde; }

body {
  font-family: Roboto,'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
  /*font-size: 18pt;*/
  margin-top: 118px;
  margin-bottom: 100px;
  background-color: #E6ECF0;  
}

body.poll-logged-in {
  margin-top: 268px;
}   

button {
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  cursor: pointer; 
}

.poll-clickable {
  cursor: pointer; 
}

input, optgroup, select, textarea {
  color: #464a4c !important;
  font-family: 'Cabin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


header > .nav {
  padding-bottom: 15px;
  background-color: #fff;
  font-weight: 400;   
}

header .nav-item > a {
  font-size: 1.25rem; 
}

h1 { font-size: 36pt; font-weight: bold; }
h2 { font-size: 24pt; font-weight: bold; }

h1, h2, h3, h4, h5, h6 { color: #13a6cc; }

.poll-texture {
  background-image: url(../images/texture.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  color: #fff;           
  min-height: 651px;                       
}

.poll-texture > .container {
  padding-top: 30px;
}

.poll-texture > .container > .row > div { padding-top: 30px; padding-bottom: 30px; }

.poll-texture h3 {
  font-weight: bold;
  line-height: 2.54rem;
  margin-bottom: 15px; 
}

.poll-texture .form-inline {
  margin-bottom: 8px;
}

.poll-bg-light {
  background-color: #49abde;
  color: #fff; 
}

.poll-top-gap { margin-top: 10px; padding-top: 30px; padding-bottom: 30px; }

.poll-texture a {
  color: #49abde; 
}

.poll-btn {
  background-color: #49abde;
  color: #fff !important;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px; 
}

.poll-social { text-transform: uppercase; font-size: 0.7rem; font-weight: bold; color: #fff !important; }

.poll-social > i.fa {
  padding-right: 6px;
  margin-right: 6px; 
  border-right: 1px solid #fff;
}

.form-group.poll-required label:after { 
    content: ' *';
    text-align: right;
    font-weight: bold;        
    color: #990000;
}

.dropdown-menu.extended {
    max-width:320px !important;
    min-width:160px !important;
    top:42px;
    width:300px !important;
    padding:0 10px;
    box-shadow:0 0px 5px rgba(0,0,0,0.5) !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:none;
    /*left:-10px;*/
    left: auto;
}

.dropdown-menu.extended .alert-icon,.noti-info {
    float:left;
}
.noti-info {
    padding-left:10px;
    padding-top:6px;
    color:#414147;
}
.dropdown-menu.extended .alert {
    margin-bottom:10px;
}
.dropdown-menu.extended .alert-icon {
    border-radius:100%;
    display:inline-block;
    height:35px;
    width:35px;
}
.dropdown-menu.extended .alert-icon i {
    font-size:16px;
    width:35px;
    line-height:35px;
    height:35px;
}
.dropdown-menu.extended.inbox li a,.dropdown-menu.extended.tasks-bar li a {
    background:#f1f2f7;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended li a {
    font-size:12px;
    list-style:none;
}
.dropdown-menu.extended.logout {
    padding:10px;
}
.dropdown-menu.extended.logout li a {
    padding:10px;
}
.dropdown-menu.extended li a:hover {
    color:#32323a;
}

.pollsite-top-notify a:hover {
  text-decoration: none;
}

.pollsite-top-notify a.dropdown-toggle:hover {
  text-decoration: none;
}

.pollsite-header {
  /*background-color: #134fa1;*/
  background-color: #fff;
  color: #13a6cc;
  
  padding-bottom: 0; 
}

.pollsite-header .fa {
  color: #13a6cc; 
}

.pollsite-header .badge {
  background-color: #000;  
}

.pollsite-footer {
  color: #fff;
  background-color: #134fa1; 
}

.pollsite-footer a {
  color: #41abde;
}

#profile_top_menu ~ .dropdown-menu.extended {
  left: auto; 
}

.poll-chat-interface {
  width: 100%;
  /*height: 100%; 
  position: relative;
  margin-bottom: -160px;  */    
  
  /*position: relative;
  height: calc(100% - 155px);   */
  /*width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;  */
 
}

.poll-message-container {          
  /*position: relative;
  height: 100%;   */
  /*flex-grow: 1;   */
  overflow-y: scroll;
  min-height: 2em;
}

.poll-chat-footer {
  border-top: 1px solid #aeaeff;
  flex-shrink: 0;
}

.poll-chatroom-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;  
}

#poll_menu_chat_preview .poll-chatroom-preview {
  width: auto;
  max-width: auto;    
}

#poll_menu_chat_preview a {
  border-bottom: 1px solid #ccc;
}

.poll-chat-room {
  /*overflow: hidden;*/
}

.poll-chat-room .dropdown-toggle {
  background: inherit; 
}

.poll-chat-room .dropdown-toggle:after {
  content: inherit;
}

.poll-reply-link {
  color: #49abde; 
  cursor: pointer;
}

.poll-reply-link:hover {
  text-decoration: underline;  
}

.poll-chat-unread, .poll-unread {
  background-color: #F4FFEF; 
}

.poll-notification{
}

.poll-blue-list .poll-notification {
  background-color: #32c0dc; 
}

.poll-notification.poll-unread {
  background-color: #74d6e9; 
}

.poll-notification a{
  color: #000; 
}

.poll-notification a:hover{
  color: #fff; 
}

#poll_menu_friends_preview img {
  width: 32px;
  height: 32px; 
}

.poll-active-connections { 
}

#poll_reaction_list {
  display: none;   
}

.poll-reaction-emojis {
  font-size: 32pt;
}

.poll-emoji {
  cursor: pointer;
  display: inline-block;
  width: 60px;   
  text-align: center;
}

.poll-emoji:hover {
  background-color: #efefef; 
}

.poll-react {
  margin-left: 10px;
  cursor: pointer; 
}

.poll-react:hover {
  margin-left: 10px;
  cursor: pointer; 
  color: #2b8abb;
}

.poll-show-comments {
  padding: 2px;  
  color: #49abde; 
  cursor: pointer; 
}

.poll-show-comments:hover {
  text-decoration: underline;  
}

.poll-comment-box {
  border: 1px solid #ccc; 
}

.poll-comment-box textarea {
  width: 100%;  
  border: 0;
  font-family: Segoe UI Emoji;
  resize: none;
}

.poll-comments-replies {
  margin-left: 15px; 
}

@media (max-width: 576px) { 
  body {
    margin-top: 240px; 
    margin-bottom: 55px;
  }
  
  body.poll-logged-in {
    margin-top: 65px;
  }
  
  .poll-social > i.fa {
    padding-right: 0;
    margin-right: 0; 
    border-right: 0;    
  }
  
  
  
}

@media (max-width: 393px) { 
  body {
    margin-bottom: 72px;
  }
}


@media (min-width: 576px) { 
  body {
    margin-top: 170px; 
    margin-bottom: 25px;
  }
  
  body.poll-logged-in {
    margin-top: 90px;
  }
  
  .poll-social > i.fa {
    padding-right: 0;
    margin-right: 0; 
    border-right: 0;    
  }
}

@media (min-width: 768px) {
  body {
     margin-top: 115px; 
     margin-bottom: 80px;
  }
  .poll-social > i.fa {
  padding-right: 6px;
  margin-right: 6px; 
  border-right: 1px solid #fff;
  }
  
  .dropdown-menu.extended {
    max-width:640px !important;
    width:640px !important;
    left: -240px;
  }  

 
} 

.emoji {
  font-family: Segoe UI Emoji; 
}

.emoji-li:before {
  content: "\1F44D"; 
}

.emoji-lo:before {
  content: "\1F60D"; 
}

.emoji-ha:before {
  content: "\1F606"; 
}

.emoji-ma:before {
  content: "\1F621"; 
}

.card:not(.tab-content) {
  border-top-left-radius: 15px !important; /*, 15px, 0px, 0px !important;*/
  border-top-right-radius: 15px !important; /*, 15px, 0px, 0px !important;*/
}

.card-img-top {
  border-top-left-radius: 15px !important; /*, 15px, 0px, 0px !important;*/
  border-top-right-radius: 15px !important; /*, 15px, 0px, 0px !important;*/ 
}

.card-header {
  border-radius: 0 !important;
  border-top-left-radius: 15px !important; /*, 15px, 0px, 0px !important;*/
  border-top-right-radius: 15px !important; /*, 15px, 0px, 0px !important;*/
  /*background-image: linear-gradient(-219deg, #42D5EA 0%, #3FD2E8 0%, #1EA6CC 100%);*/
  background-image: linear-gradient(-219deg, #1EA6CC 100%, #3FD2E8 0%, #42D5EA 0%);  
  color: #fff;
}

.poll-overflow-conceal {
  height: 80px;
  overflow: hidden;
  -webkit-transition: height 1s; /* Safari */
  transition: height 1s; 
}

.poll-avatar {
  border-radius: 50% !important;
}

img.poll-selected {
  border: 2px solid #000 !important; 
}

.digifi-initialized {
  width: 100%; 
}

.poll-stat-boxes > div {
  border-left: 1px solid #ccc; 
}

.btn-group label.active {
  background-color: #ccf; 
}

.pollsite-header .nav-link.active .fa {
	color: #0053a4;
}

.nav-link.active {
  font-weight: 400;
  color: #0053a4;  
  border-bottom: 2px solid #0053a4;
}
                                                          
.navbar {                                    
  font-weight: 400; 
}

.navbar-brand {
	padding-top: .25rem;
	padding-bottom: 0;	
}

.header-fb-login {
  cursor: pointer;
}

#poll_menu_header_search_results .list-group-item { 
  overflow: hidden;
}

.poll-notification .dropdown-menu-right, .poll-chat-room .dropdown-menu-right {
  left: 0px !important;
}

.poll-notification {
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear; 
  border-bottom: 1px solid rgba(0,118,181,0.40);
}

.poll-notification-menu-btn {
  cursor: pointer;
  color: #eee;
}

.poll-notification-menu-btn:hover {  
  color: #fff;
}

#notifications_top_list, #notifications_top_list a  {
  font-size: 0.8rem !important;
  /*width: 100% !important;*/
}

.media .poll-avatar {
  width: 64px;
  height: 64px; 
}

#notifications_top_list .poll-avatar {
  width: 48px;
  height: 48px; 
}

.poll-reaction-count {
  cursor: pointer; 
}

.poll-fixed {
  /*position: fixed;*/ 
}

.navbar .dropdown-menu .media a {
	padding: 0px;	
}

.min-chart {
  width: 48px;
  height: 48px;
  margin-top: 3px;
  margin-bottom: 3px; 
}

.min-chart .percent {
    line-height: 48px;  
    font-size: 0.7rem;  
}

.poll-newsfeed-image {
  background-repeat: no-repeat; 
  background-size: cover;
  background-size: 100%;
  height: 200px; 
}

.dropdown-menu > button.btn {
  padding-left: 5px;
  padding-right: 5px; 
}