#current_user_dashboard_avatar
{
  float: left;
  margin-top: -60px;
  border: 1px solid #fff;  
  border-radius: 50%;
}

#comaptibility_categories > label {
  flex: 1 1 100%; 
}

#comaptibility_categories .btn {
  padding-left: 3px;
  padding-right: 3px; 
  font-size: 0.6rem;
}

#comaptibility_categories .btn i {
  font-size: 36px;
  margin-bottom: 4px; 
}