@charset "UTF-8";

@font-face {
  font-family: "thinkster-font";
  src:url("fonts/thinkster-font.eot");
  src:url("fonts/thinkster-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/thinkster-font.woff") format("woff"),
    url("fonts/thinkster-font.ttf") format("truetype"),
    url("fonts/thinkster-font.svg#thinkster-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "thinkster-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="poll-f-"]:before,
[class*=" poll-f-"]:before {
  font-family: "thinkster-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poll-f-buddhist:before {
  content: "\61";
}
.poll-f-catholic:before {
  content: "\62";
}
.poll-f-christian:before {
  content: "\63";
}
.poll-f-can-green:before {
  content: "\64";
}
.poll-f-islam:before {
  content: "\65";
}
.poll-f-jewish:before {
  content: "\66";
}
.poll-f-can-ndp:before {
  content: "\67";
}
.poll-f-can-pc:before {
  content: "\68";
}
.poll-f-can-politics:before {
  content: "\69";
}
.poll-f-religion:before {
  content: "\6a";
}
.poll-f-can-liberal:before {
  content: "\6b";
}
