<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' Map Editor', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">

<h1>Map Editor, Yo!</h1>
</contentPlaceHolder>