<?php
global $config;

$q = new DatabaseQuery();

$q->sql = "SELECT l.Latitude, l.Longitude	 
FROM Profile p
JOIN Location l ON l.LocationId = p.LocationId
WHERE p.ProfileId = ?ai_profileid";

$q->addParameter('ai_profileid', $this->CurrentUser->ProfileId);

$location = $q->executeObjects();
 
$this->initialize(array('Title' => $config->SiteName . ' Administrator Home', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">

<style>
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5000;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5000;
}

#test_map{
        height: 100%;
        width:100%;
   }
   .mapContainer{
        height:300px;
        width:100%
   }
</style>

</contentPlaceHolder>

<contentPlaceHolder id="body">
  

<div class="row">
  <div class="col-lg-6 mapContainer">
       <div id="test_map"></div>
  </div>
  <div class="col-lg-1">
    <div class="list-group">
      <button class="list-group-button" onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button class="list-group-button" onclick="changeGradient()">Change gradient</button>
      <button class="list-group-button" onclick="changeRadius()">Change radius</button>
      <button class="list-group-button" onclick="changeOpacity()">Change opacity</button>
    </div>
  </div>
  <div class="col-lg-5">
  <h2>Active Connections</h2>
  <span class="poll-active-connections" style="font-size: 32pt; font-weight: bold;"></span>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6 col-lg-4">
    <canvas id="myChart" width="400" height="300" data-digifi-source="adminhome.GetAnswerCounts" data-digifi-json-transform="thinkster.transform.chart"></canvas>
  </div>
  <div class="col-md-6 col-lg-8">
    <div class="digifi-panel" 
      title="Users Blocked More Than 5 Times" 
      id="blocked_users" 
      data-digifi-source="adminhome.GetBlockedUsers"
      data-digifi-buttons="['Refresh']">
    </div>
  </div>
</div>

<div class="digifi-panel" 
  title="Flagged Objects" 
  id="flagged_objects" 
  data-digifi-source="adminhome.GetFlaggedObjects"
  data-digifi-buttons="['Refresh']">
</div>

<script>
var map, heatmap = null;

var refreshmap = function() {
  adminhome.GetHeatMapPoints(function(pointJSON) {    
    var points = jQuery.parseJSON(pointJSON);
    var pointData = [];       
    
    for(var p = 0; p < points.length; p++) {
      pointData[pointData.length] = {location: new google.maps.LatLng(points[p].Latitude, points[p].Longitude), weight: points[p].Weight};
    }
    
    if(heatmap)  {
      heatmap.setMap(pointData); 
    } else {
      heatmap = new google.maps.visualization.HeatmapLayer({
        data: pointData,
        map: map
      });
    }     
  }); 
};


$(document).ready(function() {
  google.maps.event.trigger(map, "resize"); 
  
  refreshmap();
});

function initMap() {
  map = new google.maps.Map(document.getElementById('test_map'), 
  {
    zoom: 10,
    center: {lat: <?=$location[0]->Latitude / 10000.00; ?>, lng: <?=$location[0]->Longitude / 10000.00; ?>},
    mapTypeId: 'satellite'
  });
  
  
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}




</script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=<?=$config->GoogleMapsAPIKey; ?>&libraries=visualization&callback=initMap"></script>


</contentPlaceHolder>