<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' Question Database', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'] ));

 
?>
<contentPlaceHolder id="head">



<meta name="description" content="Meta description to go here" />
<link rel="stylesheet" type="text/css" href="/js/bootstrap-colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>


<style>
.poll-chart-colour {
  display: inline-block;
  width: 32px;
  height: 22px;
  border: 1px solid #000;   
  margin-right: 3px;
  vertical-align: middle;
}

img.poll-selected {
  border: 2px solid #000 !important; 
}

.btn.btn-secondary {
  background-color: #ccc;
}
</style>

</contentPlaceHolder>

<contentPlaceHolder id="after">
  <script src="https://maps.googleapis.com/maps/api/js?key=<?=$config->GoogleMapsAPIKey; ?>&libraries=drawing"></script>
</contentPlaceHolder>

<contentPlaceHolder id="body">

<?php if(isset($_GET['param'])) {

  $poll = new Data('Poll', $_GET['param']);

                           
  function toggleButton($attribute, $id, $poll) {        
    ?><button type="button" 
                class="btn btn-secondary aq-attribute-toggle" 
                id="<?=$id;?>" data-aq-attribute="<?=$attribute;?>" 
                title="This question is <?=($poll->{$attribute} ? '' : 'not '); ?>available to users. Click to toggle" >
                <i class="fa fa-<?=($poll->{$attribute} ? 'check-circle' : 'ban'); ?> fa-2x text-<?=($poll->{$attribute} ? 'success' : 'danger'); ?>"></i>
    </button><?php 
  }
?>

  <script>
  thinkster.CurrentPage.PollFilters = <?=($poll->FilterJSON == null ? 'null' : $poll->FilterJSON); ?>;
  </script>

  <div class="row">
    <div class="col-md-12">  
    
      <div class="digifi-panel panel-primary" 
        id="question_list" 
        title="Question Details">               
        
        <div id="question_details" 
          data-digifi-editor="edit_question"
          data-digifi-source="adminquestions.GetQuestionInfo"></div>                            
        
        <div id="answers" 
          data-digifi-editor="edit_choice" 
          data-digifi-type="PollChoice" 
          data-digifi-delete="adminquestions.DeleteChoice"
          data-digifi-delete-prompt="Are you sure you want to remove this choice?"
          data-digifi-source="adminquestions.GetAnswerList"></div>
                        
      </div>
    
    </div>
  </div>
  
  <div class="row">    
    <div class="col-sm-6">
      <div class="digifi-panel panel-info"
        id="question_active"
        title="Options">
        
        
        
        <div class="row">
          <div class="col-10"><strong>Available to Users?</strong><br />
          <p class="small text-muted">Until this is turned on, this question will not be shown to users</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("IsAvailable", "activate_question", $poll); ?>
            
          </div>
        </div>
        
        <div class="alert alert-danger" id="activate_errors">
          <p>This question cannot be made available to users yet for the following reasons:</p>
          <ul>
            <li>Reasons suck</li>
          </ul>
        </div>
        
        <div class="row">
          <div class="col-10"><strong>Results Public?</strong><br />
          <p class="small text-muted">If this is turned on, anyone can view the results (even anonymous users) without having to answer the question first</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("AreResultsPublic", "results_public", $poll); ?>
            
          </div>
        </div>
        
        <div class="row">
          <div class="col-10"><strong>Required Question?</strong><br />
          <p class="small text-muted">If this is turned on, all users (that match the filter, if one exists) will be required to answer this question before answering any others</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("IsRequired", "results_public", $poll); ?>
            
          </div>
        </div>
        
        <hr />
        
        <div class="row">
          <div class="col-8"><strong>Allow Commenting?</strong><br />
          <p class="small text-muted">Can users comment on this question?</p></div>
          <div class="col-2 text-center"><span class="badge badge-primary"><?=$poll->CommentCount == 0 ? '' : $poll->CommentCount; ?></span></div>
          <div class="col-2 text-right">
            <?php toggleButton("AllowCommenting", "allow_commenting", $poll); ?>
          </div>
        </div>
        
        <div class="row">
          <div class="col-8"><strong>Allow Reactions?</strong><br />
          <p class="small text-muted">Can users react to this question?</p></div>
          <div class="col-2 text-center"><span class="badge badge-primary"><?=$poll->ReactionCount == 0 ? '' : $poll->ReactionCount; ?></span></div>
          <div class="col-2 text-right">
            <?php toggleButton("AllowReactions", "allow_reactions", $poll); ?>            
          </div>
        </div>               
        
        <hr />
        
        <div class="row">
          <div class="col-10"><strong>Allow Mutliple Responses?</strong><br />
          <p class="small text-muted">Can users answer this question more than once?</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("AllowMultipleResponses", "allow_multiple_responses", $poll); ?>    
          </div>          
        </div>
        
        <!--<div class="row">
          <div class="col-11"><strong>Days between Responses</strong><br />
          <p class="small text-muted">Something?</p></div>
          <div class="col-1 text-right"></div>
        </div>-->
        
        <hr />
        
        <div class="row">
          <div class="col-10"><strong>Filtered Out Expiry?</strong><br />
          <p class="small text-muted">
            When this question is filtered out for a user, how long before the
            system will check this question again when looking for the next question to ask?
          </p>
          <p class="small text-muted">"System Default" means that this question will not be checked again unless the question
          has been modified since it was filtered out for a given user.</p></div>
          <div class="col-2 text-right">
            <button type="button" id="foe_button" class="btn btn-secondary" 
                data-digifi-action="EditFoe">
              <i class="fa fa-pencil text-primary fa-2x"></i>      
            </button>
            <div id="foe_expiry">
            <?php            
            if($poll->FilterExpiryValue) {
              echo $poll->FilterExpiryValue . ' ' . $poll->FilterExpiryUnit . ($poll->FilterExpiryValue == 1 ? '' : 'S'); 
            } else {
              echo '<em>System Default</em>';            	          
            }
            
            ?>
            </div>              
          </div>          
        </div>
        
      </div>
    </div>
    
    <div class="col-sm-6">      
      <div class="digifi-panel panel-secondary" 
        id="question_filters" 
        title="Question Access"         
        data-digifi-source="adminquestions.UpdateFilters"    
        data-digifi-source-args="[thinkster.CurrentPage.PollFilters]"            
        data-digifi-buttons="['Refresh']">
      </div>  
      
      <?php if($this->CurrentUser->MemberOf('Developer')) { ?>
      <div class="digifi-panel panel-secondary" 
        id="question_filters_sql" 
        title="Filter SQL"         
        data-digifi-source="adminquestions.GetFilterSql"    
        data-digifi-source-args="[thinkster.CurrentPage.PollFilters]"            
        data-digifi-buttons="['Refresh']">
      </div> 
      <?php } ?>
    </div>
               
    </div>
  </div>

  <div class="digifi-popup digifi-auto-layout"
    id="edit_choice"
    title="Edit Choice"
    data-digifi-add-title="Add Choice"
    data-digifi-source="adminquestions.GetChoice"
    data-digifi-update="adminquestions.SaveChoice">    
    <input id="ec_choice" title="Answer Text" required="required" data-digifi-value="Choice" />
    <input id="ec_iscorrect" type="checkbox" title="Correct Answer" data-digifi-value="IsCorrect" data-digifi-help="Check this box for the correct answer of test-style questions" />
    <input id="ec_nfstring" title="Newsfeed String" data-digifi-value="NewsfeedString" maxlength="50"  data-digifi-help="If left blank, the Answer Text is used in Newsfeeds" />
    <input id="ec_chartcolor" title="Chart Colour" type="text" class="colorpicker-default form-control" data-digifi-value="ChartColour" />
    <input id="aq_filtericon" title="Filter Icon" data-digifi-value="FilterIcon" maxlength="100"  data-digifi-help="The icon class to use on map filters (only applies to required questions)" />
    <!--<input id="ec_gradientlight" title="Gradient Light" type="text" class="colorpicker-default form-control" data-digifi-value="GradientLight" data-digifi-help="The light colour for the heat map gradient" />
    <input id="ec_gradientdark" title="Gradient Dark" type="text" class="colorpicker-default form-control" data-digifi-value="GradientDark" data-digifi-help="The dark (intense) colour for the heat map gradient" />-->
  </div> 
  
  <div class="digifi-popup digifi-auto-layout" id="edit_condition_operator" title="Set Condition">
    <input id="eco_all" type="radio" name="ConditionOperator" value="And" title="All of the filters listed" />
    <input id="eco_any" type="radio" name="ConditionOperator" value="Or" title="Any of the filters listed" />
    <input id="eco_none" type="radio" name="ConditionOperator" value="None" title="None of the filters listed" />
  </div>
  
  <div class="digifi-popup digifi-auto-layout" id="edit_filter_value" title="Edit Value Here">
    <input id="efv_value" type="text" required title="Label goes here" />        
  </div>
  
  <div class="digifi-popup digifi-auto-layout" 
      id="edit_foe_value" 
      data-digifi-source="adminquestions.GetFilteredOutExpiry"
      data-digifi-update="adminquestions.SetFilteredOutExpiry"
      title="Edit Filtered Out Expiry">
    <input id="efoe_value" type="numeric" title="Amount" data-digifi-value="FilterExpiryValue" />
    <select id="efoe_unit" title="Unit" data-digifi-value="FilterExpiryUnit">
      <option value="MINUTE">minute(s)</option>
      <option value="HOUR">hour(s)</option>
      <option value="DAY">day(s)</option>
      <option value="WEEK">week(s)</option>
      <option value="MONTH">month(s)</option>
      <option value="YEAR">year(s)</option>
    </select>         
  </div>
  
  <div class="digifi-popup" id="edit_filter_map" title="Select Geofenced Region">
    <input id="filter_map_value" />
    <div style="height: 400px; width: 100%;">
      <div id="location_map" style="width: 100%; height: 100%;"></div>
    </div>
  </div>
  
  <div class="digifi-popup" id="filter_value_search" title="Edit Value Here" data-digifi-buttons="[{Text: 'Done', Action: 'Cancel'}]">
    <div id="fvs_current">current value</div>
    <div class="input-group">
      <input id="fvs_searchtext" type="text" class="form-control" title="Label goes here" placeholder="search" />
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" id="filter_search_button"><i class="fa fa-search"></i></button>
      </span>
    </div>    
    <div id="fvs_results"></div>    
  </div>
  
  <div class="digifi-popup" 
    id="image_uploader"
    data-digifi-buttons="[{Text: 'Post', Action: 'Save'},{Text: 'Cancel', Action: 'Cancel'}]"
    data-digifi-update="adminquestions.PostChoiceImage"
    title="Upload Image">    
      <input type="hidden" id="iu_existing" data-digifi-value="ExistingMediaId" />
      <input type="hidden" id="iu_poll_choice_id" data-digifi-value="PollChoiceId" />
      <div class="poll-image-step text-center upload-step-1">
        <p class="text-muted">Hint: answer icons should be a minimum of 220x200</p>
        <span class="btn btn-lg btn-secondary fileinput-button">
          <i class="fa fa-plus"></i>
          <span>Upload Image...</span>
          <input id="image_upload" class="poll-sfuploader" type="file" name="files[]" data-url="/uploads" >
        </span>
        <div id="recent_uploads" 
          data-digifi-source="adminquestions.GetRecentImages"
          data-digifi-json-transform="thinkster.transform.recentImages"></div>
      </div>
      
      <div class="poll-image-step upload-step-2" hidden>
      I'm step 2!
      </div>
  </div>
  
  
  <div class="digifi-popup"
    id="add_filter"
    data-digifi-buttons="[{Text: 'Cancel', Action: 'Cancel'}]"
    title="Add Filter">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="fgHeading">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#filterGroups" aria-expanded="false" aria-controls="collapseTwo">
              Filter Group
            </a>
          </h5>
        </div>
        <div id="filterGroups" class="collapse show" role="tabpanel" aria-labelledby="fgHeading">
          <div class="card-block">
            Use these to create groups of filters combined with boolean logic (and, or, etc.)
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action" data-digifi-action="AddFilter" data-digifi-id="[&quot;And&quot;]">All of the contained filters</button>
              <button type="button" class="list-group-item list-group-item-action" data-digifi-action="AddFilter" data-digifi-id="[&quot;Or&quot;]">Any of the contained filters</button>
              <button type="button" class="list-group-item list-group-item-action" data-digifi-action="AddFilter" data-digifi-id="[&quot;None&quot;]">None of the contained filters</button>
            </div>
          </div>
        </div>
      </div>
      
      <?php
      $q->sql = "SELECT * FROM FilterCategory fc WHERE EXISTS (SELECT * FROM Filter f WHERE f.FilterCategoryId = fc.FilterCategoryId) ORDER BY Name";
      
      $categories = $q->executeObjects();
      
      foreach($categories as $category) {
        $q->sql = "SELECT * FROM Filter WHERE FilterCategoryId = ?ai_filtercategoryid";
        $q->addParameter('ai_filtercategoryid', $category->FilterCategoryId);
      
        $filters = $q->executeObjects();
      ?>
    
      <div class="card">
        <div class="card-header" role="tab" id="filterheading<?=$category->FilterCategoryId;?>">
          <h5 class="mb-0">
            <a data-toggle="collapse" title="Add a <?=$category->Name; ?> type file" data-parent="#accordion" href="#filtercat<?=$category->FilterCategoryId;?>" aria-expanded="true" aria-controls="filtercat<?=$category->FilterCategoryId;?>">
              <i class="fa-fw <?=$category->IconClass; ?>"></i> <?=$category->Name; ?>
            </a>
          </h5>
        </div>
    
        <div id="filtercat<?=$category->FilterCategoryId;?>" class="collapse" role="tabpanel" aria-labelledby="filterheading<?=$category->FilterCategoryId;?>">
          <div class="card-block">
            <div class="list-group">          
            <?php
            foreach($filters as $filter) {
            ?>
            <button type="button" data-digifi-action="AddFilter" data-digifi-id="[<?=$filter->FilterId; ?>]" class="list-group-item list-group-item-action"><?=$filter->Name; ?></button>
            <?php
            }
            ?>
            </div>
          </div>
        </div>
      </div>
      
      <?php
      } 
      ?>
            
    </div>
  </div>
  
<?php } else { ?>                                                                                       
  <h1>Question Database</h1>  
  
  <div class="row">
    <div class="col-sm-3">
      <div class="digifi-panel digifi-auto-layout" title="Filters">
        <select id="f_categoryid" title="Poll Category Id"><option value="">[all categories]</option><?php
        $q->sql = "SELECT PollCategoryId, Name FROM PollCategory ORDER BY Name";
    
        $options = $q->executeObjects();
        
        foreach($options as $opt) {
          echo '<option value="' . $opt->PollCategoryId . '">' . $opt->Name . '</option>'; 
        }
        ?></select>
        <input id="f_question" title="Question Text" />
        <input id="f_showinactive" type="checkbox" title="Show Inactive Questions" />                                                         
      </div>
    </div>
  
    <div class="col-sm-9">
        <div class="digifi-panel " 
          id="question_list" 
          title="Questions" 
          data-digifi-editor="edit_question"
          data-digifi-sortcolumn="p.Question"
          data-digifi-sortdesc="0"
          data-digifi-source="adminquestions.GetQuestions"
          data-digifi-source-args="[$('#f_categoryid').val(), $('#f_question').val().trim(), $('#f_showinactive').prop('checked')]"
          data-digifi-delete="adminquestions.DeleteQuestion"
          data-digifi-delete-prompt="Are you sure you want to delete this question?"        
          data-digifi-type="Poll"
          data-digifi-buttons="['Add', 'Refresh']">    
        </div>    
    </div>
    
  </div>
  
              
<?php } ?>              

  <div class="digifi-popup digifi-auto-layout"
    id="edit_question"
    title="Edit Question"
    data-digifi-add-title="Add Question"
    data-digifi-source="adminquestions.GetQuestion"
    data-digifi-update="adminquestions.SaveQuestion">
    <select id="aq_questiontype" title="Type" required="required" data-digifi-value="PollTypeCode"><?php
    $q->sql = "SELECT PollTypeCode, Name FROM PollType ORDER BY Name";
    
    $options = $q->executeObjects();
    
    foreach($options as $opt) {
      echo '<option value="' . $opt->PollTypeCode . '">' . $opt->Name . '</option>'; 
    }
    
    ?></select>
    <select id="aq_answertype" title="Answer Type" required="required" data-digifi-value="AnswerTypeCode"><?php
    $q->sql = "SELECT AnswerTypeCode, Name FROM AnswerType ORDER BY Name";
    
    $options = $q->executeObjects();
    
    foreach($options as $opt) {
      echo '<option value="' . $opt->AnswerTypeCode . '">' . $opt->Name . '</option>'; 
    }
    
    ?></select>
    <select id="aq_categoryid" title="Category" required="required" data-digifi-value="PollCategoryId"><option value="">[select a category]</option><?php
    $q->sql = "SELECT PollCategoryId, Name FROM PollCategory ORDER BY Name";
    
    $options = $q->executeObjects();
    
    foreach($options as $opt) {
      echo '<option value="' . $opt->PollCategoryId . '">' . $opt->Name . '</option>'; 
    }
    
    ?></select>
    <select id="aq_eventid" 
      title="Event" 
      data-digifi-value="EventId"
      data-digifi-help="Questions tied to events are only displayed to attendees of that event"><option value="">[none]</option><?php
    $q->sql = "SELECT EventId, Name 
      FROM Event
      WHERE EndDateTime > CURRENT_TIMESTAMP 
      ORDER BY StartDateTime";
    
    $options = $q->executeObjects();
    
    foreach($options as $opt) {
      echo '<option value="' . $opt->EventId . '">' . $opt->Name . '</option>'; 
    }
    
    ?></select>
    <input id="aq_question" title="Question Text" required="required" data-digifi-value="Question" />
    <input id="aq_urlsegment" title="Url-Friendly Name" required="required" data-digifi-value="UrlSegment" data-digifi-help="A url/seo-friendly name to use in the URL for direct access to this question" />
    <input id="aq_nfstring" title="Newsfeed String" data-digifi-value="NewsfeedString" maxlength="300" />
    <input id="aq_filtername" title="Filter Name" data-digifi-value="FilterName" maxlength="45" data-digifi-help="The (short) name of the question to use on map filters (only applies to required questions)" />
    <input id="aq_filtericon" title="Filter Icon" data-digifi-value="FilterIcon" maxlength="100"  data-digifi-help="The icon class to use on map filters (only applies to required questions)" />
    
    <!--<input id="aq_available" type="checkbox" title="Available" data-digifi-value="IsAvailable" data-digifi-help="This box must be checked off in order for the question to be available to users" />-->       
  </div>     

</contentPlaceHolder>