<?php
global $config;

$this->initialize(array('Title' => $config->SiteName . ' Question Categories', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">
<link rel="stylesheet" type="text/css" href="/js/bootstrap-colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<script>
$(document).ready(function() {
  $('.colorpicker-default').colorpicker(); 
});
</script>

</contentPlaceHolder>

<contentPlaceHolder id="body">
  <div class="digifi-panel panel-primary" id="category_list"
    title="Question Categories"
    data-digifi-editor="edit_category" 
    data-digifi-buttons="['Add', 'Refresh']"
    data-digifi-type="PollCategory"
    data-digifi-source="admincategories.GetCategories">
  </div>
  
  
  <div class="digifi-popup digifi-auto-layout" 
      id="edit_category" 
      title="Edit Category"
      data-digifi-add-title="Add Category"
      data-digifi-source="admincategories.GetCategory"
      data-digifi-update="admincategories.SaveCategory">
    <input id="ec_name" title="Name" data-digifi-value="Name" maxlength="50" />
    <input id="ec_backgroundcolor" class="colorpicker-default" title="Background Color" data-digifi-value="BackgroundColor" maxlength="10" data-digifi-help="Must be in the form of #000000 (hash included)" />
    <input id="ec_iconclass" title="Icon Class" data-digifi-value="IconClass" data-digifi-help="The CSS class of the icon for this category. See http://fontawesome.io for a full list of icons" />
  </div>
</contentPlaceHolder>