<?php
global $config;

$q = new DatabaseQuery();

$event = null;

if(isset($_GET['param'])) {
  $event = new Data('Event', $_GET['param']);
  
  if($event->IsNewRow()) {
    header('Location: /adminhome');
    return; 
  }
}

 
$this->initialize(array('Title' => $config->SiteName . ($event ? ' Event: ' . $event->Name : ' Event List'), 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'], 'PushRooms' => [(isset($_GET['param']) ? 'e' . $_GET['param'] : null)] )); 
?>
<contentPlaceHolder id="head"></contentPlaceHolder>

<contentPlaceHolder id="after">
  <script src="https://maps.googleapis.com/maps/api/js?key=<?=$config->GoogleMapsAPIKey; ?>&libraries=drawing&callback=initMap"></script>
</contentPlaceHolder>

<contentPlaceHolder id="body">
<?php if($event) { 

    function toggleButton($attribute, $id, $event) {        
    ?><button type="button" 
                class="btn btn-secondary ae-attribute-toggle" 
                id="<?=$id;?>" data-ae-attribute="<?=$attribute;?>" 
                title="This event is <?=($event->{$attribute} ? '' : 'not '); ?>available to users. Click to toggle" >
                <i class="fa fa-<?=($event->{$attribute} ? 'check-circle' : 'ban'); ?> fa-2x text-<?=($event->{$attribute} ? 'success' : 'danger'); ?>"></i>
    </button><?php 
  }
?>

<div class="row">
  
  <div class="col-5">
  
    <div class="digifi-panel" id="event_overview" title="Event Details">
      <div data-digifi-source="adminevents.GetEventDetails" data-digifi-editor="edit_event"></div>
      <hr />
      <div>
           
        <div class="row">
          <div class="col-10"><strong>Available to Users?</strong>
          <p class="small text-muted">Until this is turned on, this event will not be shown to users or available for attending</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("IsActive", "activate_event", $event); ?>                      
          </div>
        </div>    
        
        <div class="row">
          <div class="col-10"><strong>Publicly Listed?</strong>
          <p class="small text-muted">If this is turned on, the event (once active) will be listed publicly in the event list</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("IsPubliclyListed", "plublicly_listed", $event); ?>                      
          </div>
        </div>
        
        <hr />
        
        <div class="row">
          <div class="col-10"><strong>Automatic Image Branding?</strong>
          <p class="small text-muted">If this is turned on, images posted by people checked in to the event will be given the option to brand the image with uploaded overlays</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("HasAutoImageBranding", "auto_image_branding", $event); ?>                      
          </div>
        </div>
        
        <div class="row">
          <div class="col-10"><strong>Automatic Item Tagging?</strong>
          <p class="small text-muted">If this is turned on, items posted by people checked in to the event can automatically tagged with a link to this event</p></div>
          <div class="col-2 text-right">
            <?php toggleButton("HasAutoItemTagging", "auto_item_tagging", $event); ?>                      
          </div>
        </div>
        
        <hr />
        
        <div class="row">
          <div class="col-8"><strong>Allow Commenting?</strong>
          <p class="small text-muted">Can users comment on this event?</p></div>
          <div class="col-2 text-center"><span class="badge badge-primary"><?=$event->CommentCount == 0 ? '' : $event->CommentCount; ?></span></div>
          <div class="col-2 text-right">
            <?php toggleButton("AllowCommenting", "allow_commenting", $event); ?>
          </div>
        </div>
        
        <div class="row">
          <div class="col-8"><strong>Allow Reactions?</strong>
          <p class="small text-muted">Can users react to this event?</p></div>
          <div class="col-2 text-center"><span class="badge badge-primary"><?=$event->ReactionCount == 0 ? '' : $event->ReactionCount; ?></span></div>
          <div class="col-2 text-right">
            <?php toggleButton("AllowReactions", "allow_reactions", $event); ?>            
          </div>
        </div>   
        
        
      </div>
    </div>  
        
        
    <!--<div class="digifi-panel" id="testing_ctr" title="Testing">      
      <div class="poll-added-users mr-1"></div> 
      <div class="dropdown">
        <input class="form-control" id="user_lookup" data-toggle="dropdown" placeholder="click here to find people" />                      
        <div class="dropdown-menu" aria-labelledby="user_lookup">
          <div class="dropdown-item" id="clayton_test">Action</div>            
        </div>
      </div>      
    </div>-->
    
    
    <div class="digifi-panel" id="event_attendees" title="Attendees" data-digifi-source="adminevents.GetAttendees"></div>
  </div>
  
  <div class="col-7">
    <div class="digifi-panel" id="event_location" title="Event Location">
    
      <div class="row">
        <div class="col-sm-4">
          <div id="event_location_details" data-digifi-editor="edit_location" class="digifi-no-initial-load" data-digifi-source="adminevents.GetLocationData" data-digifi-json-transform="thinkster.transform.adminEventLocation"></div>
        </div>
        
        <div class="col-sm-8">
          <div style="height: 400px;">
            <div id="location_map" style="width: 100%; height: 100%;">df</div>
          </div>
        </div>                
      </div>
    
    </div>
    
    <div class="digifi-panel" id="event_admins" 
      title="Administrators" 
      data-digifi-source="adminevents.GetAdministrators"
      data-digifi-editor="admin_editor"
      data-digifi-type="EventAdministrator"
      data-digifi-delete="adminevents.RemoveAdministrator"
      data-digifi-buttons="['Add', 'Refresh']"></div>
            
    
  </div>  
  
</div>

<div class="digifi-popup digifi-auto-layout"
  id="edit_location"
  title="Edit Event"  
  data-digifi-update="adminevents.SaveLocation">
  <textarea id="el_address" title="Address" data-digifi-value="Address" data-digifi-help="Enter a full address or geographical coordinates"></textarea>
</div>

<div class="digifi-popup digifi-auto-layout"
  id="admin_editor"
  title="Edit Administrator"
  data-digifi-add-title="Add Administrator"  
  data-digifi-update="adminevents.AddAdministrator">
  <input id="ae_profileid" title="Profile Id" data-digifi-value="ProfileId" type="number" />
</div>


<?php } else { ?>

<h1>Event List</h1>

<div class="digifi-panel"
  title="Event List"
  data-digifi-source="adminevents.GetEventList" 
  data-digifi-type="Event"
  data-digifi-editor="edit_event"
  data-digifi-buttons="['Add', 'Refresh']"
  id="events_list">
</div>

<?php } ?>

<div class="digifi-popup digifi-auto-layout"
  id="edit_event"
  title="Edit Event"
  data-digifi-add-title="Add Event"
  data-digifi-source="adminevents.GetEvent"
  data-digifi-update="adminevents.SaveEvent">
  <input id="ee_name" title="Event Name" required="required" data-digifi-value="Name" maxlength="100" />
  <input id="ee_urlsegment" title="Url Segment" required="required" data-digifi-value="UrlSegment" maxlength="200" />
  <textarea id="ee_description" title="Description" data-digifi-value="Description"></textarea>
  <select id="ee_attendancerestriction" title="Attendance Restrictions" required="required" data-digifi-value="AttendanceRestrictionTypeCode"><?php
    $q->sql = "SELECT AttendanceRestrictionTypeCode, Name FROM AttendanceRestrictionType ORDER BY Name";
    
    $options = $q->executeObjects();
    
    foreach($options as $opt) {
      echo '<option value="' . $opt->AttendanceRestrictionTypeCode . '">' . $opt->Name . '</option>'; 
    }
    
    ?></select>
  <input id="ee_startdatetime" class="poll-date" title="Start" required="required" data-digifi-value="StartDateTime" />
  <input id="ee_enddatetime" class="poll-date" title="End" required="required" data-digifi-value="EndDateTime" />
</div>    
  


</contentPlaceHolder>