<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' Static Content', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => array('Administrator'), 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">
  <?php if(isset($_GET['edit'])) { ?>
  <script>
  $(document).ready(function() {
    var action = {};
      
    action.action = 'Edit';
    action.params = <?=$_GET['edit']; ?>;    
    action.element = this;
     
     $('#content').trigger('digifi.action', action);
  });
  </script>
  <?php } ?>
</contentPlaceHolder>

<contentPlaceHolder id="body">
                                                                                       
  <h1>Static Content</h1>  
  <div class="digifi-panel panel-primary" 
    id="content" 
    title="Static Content" 
    data-digifi-editor="content_editor"
    data-digifi-source="admincontent.GetContentList"
    data-digifi-type="StaticContent"
    data-digifi-buttons="['Add', 'Refresh']">
  </div>                
  
  <div class="digifi-popup digifi-auto-layout"
    id="content_editor"
    title="Edit Content"
    data-digifi-add-title="Add Content"
    data-digifi-source="admincontent.GetContent"
    data-digifi-update="admincontent.SaveContent">
      <select id="ce_contenttypecode" title="Content Type" required="required" data-digifi-value="StaticContentTypeCode"><?php
      $q->sql = "SELECT StaticContentTypeCode, Name FROM StaticContentType ORDER BY Name";
      
      $options = $q->executeObjects();
      
      foreach($options as $o) {
        echo '<option value="' . htmlentities($o->StaticContentTypeCode) .'">' . htmlentities($o->Name) . '</option>'; 
      }
      ?></select>
      <input id="ce_shortname" title="Short Name" required="required" data-digifi-value="ShortName" maxlength="20" />
      <input id="ce_title" title="Title" required="required" data-digifi-value="Title" maxlength="100" />
      <textarea id="ce_description" title="Description" data-digifi-value="Description" rows="3" cols="10"></textarea>
      <input id="ce_keywords" title="Keywords" data-digifi-value="Keywords" />      
      <input id="ce_urlsegment" title="Url Segment" data-digifi-value="UrlSegment" />
      <textarea id="ce_content" title="Content" data-digifi-value="Content" rows="10" cols="10"></textarea>
  </div>
  

</contentPlaceHolder>