<?php
global $config;

$q = new DatabaseQuery();

$pushRooms = null;
$viewing = null;

$title = $config->SiteName . ' User Database';

if(isset($_GET['param'])) {
  $viewing = new Data('Profile', $_GET['param']);
  $pushRooms = [$_GET['param']];
  
  $title = 'Admin: ' . $viewing->DisplayName;
}
 
$this->initialize(array('Title' => $title, 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Administrator', 'ActiveMenu' => $_GET['page'], 'PushRooms' => $pushRooms )); 
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">

<?php if(isset($_GET['param']) && is_numeric($_GET['param'])) { 
  
  
  if($viewing->IsNewRow()) {
  ?>
  <h1>Invalid Request</h1>
  <p>Bad ProfileId passed to this page.</p>
  <?php
  }
  else {
  	  
?>
<h1><?=$viewing->DisplayName; ?></h1>

<div class="row">
  
  <div class="col-md-6">
    <div class="digifi-panel" 
      id="profile_details" 
      title="Overview" 
      data-digifi-source="adminusers.GetOverview"
      data-digifi-buttons="['Refresh']">  
    </div>
    
    <div class="digifi-panel" 
      id="connection_history" 
      title="Session History" 
      data-digifi-source="adminusers.GetSessions"   
      data-digifi-source-args="[$('#connection_history').data('digifi-page-number') || 1]"   
      data-digifi-buttons="['Refresh']">  
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="digifi-panel" 
      id="response_history" 
      title="Answer History"
      data-digifi-source="adminusers.GetResponses"
      data-digifi-source-args="[$('#response_history').data('digifi-page-number') || 1]"
      data-digifi-buttons="['Refresh']">    
    </div>
  </div>
  
</div>


<?php } 
} else { ?>
  <div class="row">
    <div class="col-md-4">
      <div class="digifi-panel digifi-auto-layout" title="Filters">
        <input id="f_name" title="Name" />
        <input id="f_showinactive" type="checkbox" title="Inactive Users" />                                                         
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="digifi-panel" 
        id="user_list" 
        title="Users" 
        data-digifi-source="adminusers.GetUsers"
        data-digifi-source-args="[$('#f_name').val().trim(), $('#f_showinactive').prop('checked'), $('#user_list').data('digifi-page-number') || 1]"
        data-digifi-sortcolumn="p.DisplayName"
        data-digifi-sortdesc="0"
        data-digifi-buttons="['Refresh']">        
      </div>
    </div>
  </div>
<?php } ?>
</contentPlaceHolder>