<?php
global $config;

$q = new DatabaseQuery();

$api = json_decode(file_get_contents('../inc/ApiReference.json'), true);

$apiRoot = $config->ApiRoot; //'https://devapi.thinkster.ca/';

$requestedFunction = '';

if(isset($_GET['function'])) $requestedFunction = $_GET['function'];

function functionNameToLink($matches) {
  return '<a href="/apireference/' . $matches[2] . '">' . $matches[2] . '</a>'; 
}

function endpointNameToLink($matches) {
  return '<a href="/pushreference/' . $matches[2] . '">' . $matches[2] . '</a>'; 
}

function processAPILinks($input) {
  $input = preg_replace_callback('/(\[\[([^\]]+)\]\])/i', 'functionNameToLink', $input);
  
  $input = preg_replace_callback('/(\{\{([^\}]+)\}\})/i', 'endpointNameToLink', $input);
  
  return $input;  
}

function statusTextColor($def) {
   if(!isset($def['Status'])) return "text-danger";
   
   switch($def['Status']) {
      case 'Dep':
        return "text-danger poll-deprecated";
      break;
   
      case 'Dev':
        return "text-danger";
      break;
      
      case 'Test':
        return "text-warning";
      break;
   }
   
   return "text-primary";
}   

function statusText($def) {
   if(!isset($def['Status'])) return "Under development";
   
   switch($def['Status']) {
      case 'Dep':
        return "Deprecated";
      break;
   
      case 'Dev':
        return "Under development";
      break;
      
      case 'Test':
        return "Available for testing";
      break;
   }
}


$this->initialize(array('Title' => ($requestedFunction == '' ? '' : $requestedFunction . ' ') . $config->SiteName . ' API Reference', 'MasterPageFile' => 'master.htm' ));

$javascript = ""; 
?>

<contentPlaceHolder id="head">

<?php if(isset($_GET['function']) && isset($api[$requestedFunction])) { 
  $function = $api[$requestedFunction];
?>
<meta name="description" content="<?=htmlentities($function['Description']); ?>" />
<?php } else { ?>        
<meta name="description" content="<?=$config->SiteName; ?> API reference document" />

<?php } ?>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>


<style>
dd {
  margin-left: 20px; 
}

.poll-deprecated {
  text-decoration: line-through; 
}

.poll-deprecated:hover {
  text-decoration: line-through; 
}

dt { font-style: italic; font-weight: normal; }
</style>

</contentPlaceHolder>

<contentPlaceHolder id="body">

  <div class="container-fluid">
    <h1><?=$config->SiteName;?> API Reference</h1>          
    
    <div class="row"> 
      <div class="col-sm-5 col-md-4 col-lg-3 col-12">
        <h3>Contents</h3>
        <div class="list-group">
          <a href="/apireference" class="list-group-item <?=($requestedFunction == '' ? 'active' : ''); ?>">Overview</a>
          <?php foreach($api as $function => $def) { ?>
          <a href="/apireference/<?=$function; ?>" title="<?=statusText($def); ?>" class="list-group-item list-group-item-action <?=statusTextColor($def); ?> <?=($requestedFunction == $function ? 'active' : ''); ?>"><?=$function; ?></a>
          <?php } ?>          
        </div>
      </div>
      
      <div class="col-sm-7 col-md-8 col-lg-9 col-12">
        <?php if($requestedFunction == '') { ?>
        
        <h2>Overview</h2>        
        <p>The <?=$config->SiteName;?> API is provided for 3rd-party developers to programmatically interface with <?=$config->SiteName; ?>.</p>
        <p>At this time, it is a <strong>closed API</strong>.</p>
        
        <?php } else if(!isset($api[$requestedFunction])) { ?> 
        
        <div class="alert alert-danger">
          <i class="fa fa-frown-o fa-pull-left mr-2 fa-3x"></i> <h4 class="alert-heading">Uh-Oh</h4>
          <p>It looks like the requested function (<code><?=$requestedFunction;?></code>) doesn't exist...yet.</p>
        </div>
        
        <?php } else { 
          $function = $api[$requestedFunction];
          
          
          $javascript = "var {$config->SiteName} = {};
{$config->SiteName}.{$requestedFunction} = function (";
          
          $firstArg = true; 
          $arguments = '';
          foreach($function['Arguments'] as $arg => $argDef) {
            if(!$firstArg) {
              $arguments .= ", ";
              $javascript .= ", "; 
            }
            //$arguments .= $arg . ': ' . ($argDef['Type'] != 'Numeric' ? '"' : '') . (isset($argDef['Example']) ? $argDef['Example'] : '') . ($argDef['Type'] != 'Numeric' ? '"' : '');
            $arguments .= $arg . ': ' . lcfirst($arg);
            $javascript .= lcfirst($arg);
            $firstArg = false;  
          }
          
          if(!$firstArg) $javascript .= ", ";

          $javascript .= <<<EOT
onSuccess, onFailure, context) {

  jQuery.ajax("{$apiRoot}{$function['Url']}", {
      data: JSON.stringify({ $arguments }),
      dataType: 'json',
      method: 'POST',
      processData: false,
      success: function(result, textStatus, jqXHR) {
          if(result.Success) { 
            onSuccess(result, context);
          } else { 
            onFailure(result, context);
          }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        onFailure(errorThrown, context); 
      }
  });
};
EOT;


          
          if($function == null) { ?>
          <h2>Unknown/Invalid Request</h2>
          <p>The function <em><?=$requestedFunction; ?></em> was not found in the API reference.</p>
        
          <?php } else { ?>
          <h2><?=$requestedFunction; ?></h2>
          <?php if(!isset($function['Status']) || $function['Status'] == 'Dev') {?>
          <div class="alert alert-danger">
            <p>This method is marked as being <strong>Under Development</strong>. There information here will likely change rapidly, and it may not be functional at all at times.</p>            
            <p>Do not use this method or trust its results until its status has changed.</p>
          </div>
          <?php } else if(isset($function['Status']) && $function['Status'] == 'Dep') {?>
          <div class="alert alert-danger">
            <i class="fa fa-times fa-pull-left mr-3 fa-3x"></i>
            <p>This method is marked as <strong>Deprecated</strong>. It will eventually be removed from the API.</p>                        
          </div>          
          <?php } else if(isset($function['Status']) && $function['Status'] == 'Test') {?>
          <div class="alert alert-warning">
            <p>This method is marked as being <strong>Available for Testing</strong>. You are welcome to test it out and provide feedback on the parameters and results.</p>            
            <p><strong>Note:</strong> the information here may change infrequently during the testing phase.</p>
          </div>
          <?php } ?>
          
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><?=processAPILinks($function['Description']); ?></h5>       
              <?php if(isset($function['LoginRequired']) && $function['LoginRequired']) { ?>
              <div class="card-text"><i class="fa fa-warning text-warning"></i> <?=processAPILinks("Your session must be <strong>logged in</strong> (via a call to [[ThinksterLogin]] or [[FacebookLogin]]) prior to invoking this method"); ?></div>
              <?php } ?>       
            </div>
          </div>
          
          <div class="card mb-4">
                <div class="card-body">
              <h3>Invocation Url</h3>
              <p><a href="<?=$apiRoot . $function['Url']; ?>" target="_blank"><?=$apiRoot . $function['Url']; ?></a></p>
              
              <h3>Arguments</h3>
              <dl>
                <?php foreach($function['Arguments'] as $arg => $argDef) { ?>
                <dt><?=$arg; ?></dt>
                <dd>Type: <?=$argDef['Type']; ?> <p><?=processAPILinks($argDef['Description']) . (isset($argDef['Example']) ? ' (Example: <em>' . $argDef['Example'] . '</em>)' : ''); ?></p></dd>
                <?php } ?>
              </dl>
                        
              <h3>Return Value</h3>              
              <p><?=processAPILinks($function['Returns']['Description']); ?></p>      
              <div class="row"> 
                <div class="col-md-2 col-sm-12"><strong>Content Type:</strong></div>
                <div class="col-md-10 col-sm-12"><?=$function['Returns']['ContentType']; ?></div>
              </div>
              
              <br class="clearfix" />          
              
              <?php if(isset($function['Remarks'])) { ?>
              <hr />  
              
              <h3>Remarks</h3>
              <p><?=processAPILinks($function['Remarks']); ?></p>        
              <?php } ?>
                      
              <hr />
          
              <h3>Example Usage</h3>
              
              <!-- Nav tabs -->              
              <ul class="nav nav-tabs tabs-3 blue" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#example_jquery" role="tab">jQuery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#example_curl" role="tab">Curl</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#example_csharp" role="tab">C#</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#example_vb" role="tab">VB</a>
                </li>
              </ul>              
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="example_jquery" role="tabpanel">
                  <pre><code class="javascript"><?=$javascript; ?></code></pre>
                </div>
                
                <div class="tab-pane fade" id="example_curl" role="tabpanel"><em>Under Construction</em></div>
                <div class="tab-pane fade" id="example_csharp" role="tabpanel"><em>Under Construction</em></div>
                <div class="tab-pane fade" id="example_vb" role="tabpanel"><em>Under Construction</em></div>
              </div>
              
              
              <h3>Live Tester</h3>                  
                      
              <div class="row">
                <div class="col-lg-6">                        
              <?php
              
              $function = $api[$requestedFunction];
              $index = 0;
              
              if(count($function['Arguments'] == 0)) {
                echo '<div class="text-muted">This method takes no arguments</div>'; 
              }
              
              foreach($function['Arguments'] as $arg => $argDef) {
                $type = 'text';            
                $required = '';
                $default = '';
                
                if(isset($argDef['Required']) && $argDef['Required']) {
                  $required = " required"; 
                }
                
                if(isset($argDef['Default']) && $argDef['Default']) {
                  $default = $argDef['Default'];  
                }
                
                echo '<div class="form-group' . ($required != '' ? ' poll-required' : '') . '">
        <label for="api_arg_' . $index . '">' . htmlentities($arg) . '</label>';
        
        if(isset($argDef['TypeTable']) && $argDef['TypeTable']) {
          $ttable = $argDef['TypeTable'];
        
          echo '<select class="mdb-select" id="api_arg_' . $index .  '" aria-describedby="api_arghelp_' . $index . '" ' . $required . '">';
          
          $q->sql = "SELECT {$ttable}Code `Value`, Name `Text` FROM $ttable ORDER BY Name";
          
          $options = $q->executeObjects(); 
          
          foreach($options as $opt) {
            $selected = '';
            
            if(isset($argDef['Default']) && $opt->Value == $argDef['Default']) {
              $selected = ' selected="selected"'; 
            }
          
            echo '<option' . $selected . ' value="' . htmlentities($opt->Value) . '">' . htmlentities($opt->Value) . ' - ' . htmlentities($opt->Text) . '</option>';  
          }
          
          echo '</select>'; 
        } else if($argDef['Type'] == 'Boolean') {
           echo '<select class="mdb-select" id="api_arg_' . $index .  '" aria-describedby="api_arghelp_' . $index . '"><option value="0">false</option><option value="1">true</option></select>';
        } else {
          $additionalClasses = '';
          
          if($argDef['Type'] == 'Object') {
            $additionalClasses .= ' poll-object'; 
          }
        
          echo '<input type="' . $type . '" class="form-control' . $additionalClasses . '" id="api_arg_' . $index .  '" aria-describedby="api_arghelp_' . $index . '" placeholder=""' . $required . ' value="' . htmlentities($default) . '">';      	
        }     
        
        echo '<small id="api_arghelp_' . $index . '" class="form-text text-muted">' . processAPILinks($argDef['Description']) . '</small>
      </div>';
    
              
                /*if(!$firstArg) {
                  $arguments .= ", ";
                  $javascript .= ", "; 
                }
                //$arguments .= $arg . ': ' . ($argDef['Type'] != 'Numeric' ? '"' : '') . (isset($argDef['Example']) ? $argDef['Example'] : '') . ($argDef['Type'] != 'Numeric' ? '"' : '');
                $arguments .= $arg . ': ' . lcfirst($arg);
                $javascript .= lcfirst($arg);
                $firstArg = false;*/
                
                $index++;  
              }                        
              
              ?>
                  <button type="button" id="api_live_execute" class="btn btn-primary btn-lg">Execute</button>
                </div>
                
                <div class="col-lg-6">
                  <h5>Results:</h5>
                  <div id="api_live_results"></div>
                </div>
              </div>
            </div>
          </div>
          
        <?php }
        } ?>
      </div>
    </div>    
  </div>
  
  <section class="poll-bg-light poll-top-gap">
    <div class="container">
    What goes here?
    </div>
  </section>
  
  <?php if($requestedFunction != '' && isset($api[$requestedFunction])) { ?>
  
  <script>
  <?=$javascript; ?>
  
  $(document).ready(function() {
    var displayResults = function(result) {
       try {
        $('#api_live_results').html($('<pre>').html($('<code>').text(JSON.stringify(result, null, ' '))));
      }
      catch(ex) { 
        $('#api_live_results').html($('<pre>').html($('<code>').text(result)));
      }
    };
    
    var errorResults = function(result) { 
      $('#api_live_results').html($('<pre>').html($('<code>').text(result)));
    }
  
    <?php
              
    $function = $api[$requestedFunction];
    $jsargs = '';
    $firstArg = true;
    $index = 0;
    
    foreach($function['Arguments'] as $arg => $argDef) {
      if(!$firstArg) $jsargs .= ",\n ";
      
      if($argDef['Type'] == 'Object') {
        $jsargs .= "$('#api_arg_{$index}').val() == '' ? null : eval('(' + $('#api_arg_{$index}').val() + ');')"; 
      } else if(false && $argDef['Type'] == 'Boolean') {
        $jsargs .= "$('#api_arg_{$index}').prop('checked')";
      } else {
        $jsargs .= "$('#api_arg_{$index}').val()"; 
      }            
      
      $firstArg = false;
      $index++;
    }      
    ?>
  
  
    $('#api_live_execute').click(function() {
      $('#api_live_results').html('<p class="text-center"><i class="fa fa-4x fa-spin fa-refresh text-warning"></i></p>');
    
      Thinkster.<?=$requestedFunction; ?>(<?=$jsargs . ($jsargs != "" ? ", " : ""); ?>displayResults, displayResults); 
    });
     
  });
  </script>
  
  <?php } ?>

</contentPlaceHolder>