<?php
global $config;

$q = new DatabaseQuery();

$q->sql = "SELECT * FROM StaticContent WHERE UrlSegment = ?as_page AND StaticContentTypeCode = 'PG'";
  
$q->addParameter('as_page', $_GET['page']);

$staticContent = $q->executeObjects();

if(!$staticContent || !$staticContent[0]) {
  header('Location: /');
  return; 
}
 
$this->initialize(array('Title' => $staticContent[0]->Title, 'MasterPageFile' => 'master.htm' )); 
?>
<contentPlaceHolder id="head">

<meta name="description" content="<?=htmlentities($staticContent[0]->Description); ?>" />
<meta name="keywords" content="<?=htmlentities($staticContent[0]->Keywords); ?>" />


</contentPlaceHolder>

<contentPlaceHolder id="body">
  
  <div class="container">
    <?php 
    if($this->CurrentUser->MemberOf('Administrator')) { 
    ?>
    <div class="card card-inverse pull-right" style="background-color: #333; border-color: #333; width: 20rem;">
      <div class="card-block">
        <h3 class="card-title">Edit <?=$staticContent[0]->Title; ?></h3>
        <p class="card-text">As an administrator you can edit the content of this page</p>
        <a href="/admincontent?edit=<?=$staticContent[0]->StaticContentId; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit this Page</a>
      </div>
    </div>
    <?php
    }
    ?>
  
    <h1><?=$staticContent[0]->Title; ?></h1>
    <p style="min-height: 350px;"><?=$staticContent[0]->Content; ?></p>
    <hr class="clearfix" />
        
  </div>

</contentPlaceHolder>