<?php
global $config;

$pf = new PollFunctions();
$q = new DatabaseQuery();

$q->sql = "SELECT p.QuestionsExpTypeCode, e.Name
			FROM Profile p
			JOIN ExposureType e ON e.ExposureTypeCode = p.QuestionsExpTypeCode
			WHERE ProfileId = ?ai_profileid";

$q->addParameter("ai_profileid",$this->CurrentUser->ProfileId);

$DefaultQuestions = $q->executeObjects();

$bannerSrc = "/images/boring_header.png";

if($this->CurrentUser->BannerMediaId) {
  $m = new Data('Media', $this->CurrentUser->BannerMediaId);
  
  $bannerSrc = $m->Url;  
}

function GetExposureList($selectedValue)
{
	$q = new DatabaseQuery();
	$q->sql = "SELECT ExposureTypeCode, Name
				FROM ExposureType";
	$options = $q->executeObjects();
	foreach($options as $option) {
		echo '<option value="'.$option->ExposureTypeCode.'"' . ($option->ExposureTypeCode == $selectedValue ? ' selected="selected"' : '') . '>'.htmlentities($option->Name).'</option>';
	}
}

$this->initialize(array('Title' => $config->SiteName . ' Home', 'MasterPageFile' => 'master.htm', 'Access' => 'LoggedIn' ));
?>
<contentPlaceHolder id="head">

<meta name="description" content="Thinkster Home - Your Dashboard" />
</contentPlaceHolder>

<contentPlaceHolder id="body">
<div class="container-fluid">

  <div class="row">
  
    <!-- begin profile overview and friends list -->
    <div class="col-lg-3">
    
      <div class="card mb-2">
        <img id="profile_banner_image" class="card-img-top" src="<?=$bannerSrc;?>" height="150" alt="Banner for <?=htmlentities($this->CurrentUser->DisplayName); ?>">
        <div class="card-body">
          <?php if($this->CurrentUser->AvatarMediaId) { 
            $m = new Data('Media', $this->CurrentUser->AvatarMediaId);           
          ?>
          <a href="/media/<?=$m->Selector; ?>">
          <?php } ?>
          <img class="poll-avatar" id="current_user_dashboard_avatar" src="<?=$this->CurrentUser->AvatarThumbnailUrl ? $this->CurrentUser->AvatarThumbnailUrl : '/images/default_avatar.png';?>" width="96" height="96" alt="Avatar" />
          <?php if($this->CurrentUser->AvatarMediaId) { 
            $m = new Data('Media', $this->CurrentUser->AvatarMediaId);           
          ?>
          </a>
          <?php } ?>          
          <h4 class="text-center"><a href="/profile"><?=$this->CurrentUser->DisplayName; ?></a><br /><small>@<?=$this->CurrentUser->ProfileName; ?></small></h4>          
          <div class="row">
          <?php
          $profile = $pf->GetProfile(array('ProfileId' => $this->CurrentUser->ProfileId)); 
          ?>
          
            <div class="col-4 text-center"><h6>Responses</h6><span><?=$profile['Profile']->ResponseCount; ?></span></div>
            <div class="col-4 text-center dashboard-border-lr"><h6>Images</h6><span><?=$profile['Profile']->ImageCount; ?></span></div>
            <div class="col-4 text-center"><h6>Followers</h6><span id="db_follower_count"><?=$profile['Profile']->FollowerCount; ?></span></div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">Suggested Friends</div>
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <div class="align-self-center">Filter on </div>
            <div class="dropdown" id="poll_sf_categories">
              <!--Trigger-->
              <button class="btn btn-primary dropdown-toggle" type="button" id="compat_pollcategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-globe"></i> All Categories</button>
            
              <!--Menu-->
              <div class="dropdown-menu dropdown-primary">
                  <button type="button" class="dropdown-item" data-digifi-action="SFFilter" data-digifi-id=""><i class="fa fa-fw fa-globe"></i> All Categories</button>
                  <?php        
                  $q->sql = "SELECT DISTINCT pc.PollCategoryId, pc.Name, pc.IconClass 
        FROM PollCategory pc
        JOIN Poll p ON p.PollCategoryId = pc.PollCategoryId
        ORDER BY pc.Name";
        
                  $categories = $q->executeObjects();
                  
                  foreach($categories as $category) { 
                    ?>
                    <button type="button" class="dropdown-item" data-digifi-action="SFFilter" data-digifi-id="<?=$category->PollCategoryId; ?>"><i class="fa-fw <?=$category->IconClass; ?>"></i> <?=$category->Name; ?></button>                    
                    <?php
                  }
                  ?>
              </div>
            </div>    
          </div>
          
          <div id="poll_suggested_follow" class="poll-ful-sm" data-digifi-source="dashboard.SuggestFollowers" 
            data-digifi-json-transform="thinkster.transform.followableUserList"
            data-digifi-source-args="[null]"></div>
          <!-- <p class="small text-right"><a href="/friends">View All</a></p> -->
        </div>
      </div>    
      
    </div>

    <!-- Begin Main Question Thing -->
    <div class="col-lg-6">

      <!-- Start Question Section -->
      
      <iframe id="poll_container_frame" class="poll-container" src="/embed2" border="0" style="width: 100%; height: 380px; border: 0;"></iframe>  
    
      <!-- Start Live Stats Section 
      <div class="card mt-2">
        <div class="card-header">Did you know?</div>
        <div class="card-body">
          <div class="row">
    
            <div class="col-sm-4 text-center">
              Pie Chart Here
              <p>...that 84% of those polled prefer the colour <strong>black</strong>?</p>
            </div>
    
            <div class="col-sm-4 text-center">
              Pie Chart Here
              <p>...that 50% of <?=$config->SiteName; ?> users are <strong>Female</strong>?<p>
            </div>
            
            <div class="col-sm-4 text-center">
              Pie Chart Here
              <p>...that 50% of <?=$config->SiteName; ?> users are <strong>Female</strong>?<p>
            </div>
    
          </div>
          
          <div>Big chart here</div>
        </div>
      </div>     -->
      
    </div>

    <div class="col-lg-3">      

      <div class="card">
        <div class="card-header">Recent Activity</div>
        <div class="card-body">      
          <div class="poll-personal-newsfeed poll-no-load-more" 
              data-digifi-source="dashboard.GetNewsfeed" 
              data-digifi-json-transform="thinkster.transform.timeline"></div>
          <p class="small text-right"><a href="/newsfeed">View All</a></p>
        </div>        
      </div>     
      
      <div class="card mt-2">
        <div class="card-header"><i class="fa fa-graph fa-pull-right"></i> Trending Questions</div>
        <div class="card-body">      
          <div data-digifi-source="dashboard.GetTrending" data-digifi-json-transform="thinkster.transform.questionList"></div>          
        </div>        
      </div>  

    </div>

  </div>
  

</div>
</contentPlaceHolder>