<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' API Reference Editor', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Developer', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">

TODO: Write API Editor so it's easier to maintain that huge JSON file

</contentPlaceHolder>