<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' Deploy to Production', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Developer', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">

<div class="container">

<?php if(!isset($config->AllowDeploy) || !$config->AllowDeploy) { ?>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-warning">
        <p>This site is not configured for deployment. Are you in production by accident?</p>
        <p>Make sure the <code>$config->AllowDeploy</code> flag is set to <code>true</code> in order to activate this function.</p>
      </div>
    </div>
  </div>
<?php } else { ?>       
  <div class="row">
  
    <div class="col-sm-8 offset-sm-2">    
      <div class="digifi-panel" id="deploy_files"
      style="overflow: auto;" 
        title="Deploy Changes" 
        data-digifi-source="devdeploy.GetDeltas"
        data-digifi-json-transform="thinkster.CurrentPage.deployFiles" 
        data-digifi-buttons="['Refresh']"
        data-digifi-target="files_to_deploy"> 
      </div>
      
      <hr />
      
      <div class="text-center">         
        <button type="button" id="deploy_button" class="btn btn-primary" disabled>Deploy Selected</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" id="select_all_button" class="btn btn-info">Select All</button>
      </div>
      
    </div>
    
  </div>

<?php } ?>

</div>

</contentPlaceHolder>