<?php
global $config;

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => $config->SiteName . ' Question Filter Editor', 'MasterPageFile' => 'bucketmaster.htm', 'Access' => 'Developer', 'ActiveMenu' => $_GET['page'] )); 
?>
<contentPlaceHolder id="head">
  <script src="/codemirror/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <script src="/codemirror/mode/sql/sql.js"></script>
  <link rel="stylesheet" href="../../addon/hint/show-hint.css" />
<script src="/codemirror/addon/hint/show-hint.js"></script>
<script src="/codemirror/addon/hint/sql-hint.js"></script>
</contentPlaceHolder>

<contentPlaceHolder id="body">

<div class="digifi-panel" 
  id="categories"
  title="Categories &amp; Filters"
  data-digifi-source="devfilters.GetList"
  data-digifi-type="FilterCategory"
  data-digifi-editor="category_editor"
  data-digifi-buttons="['Add', 'Refresh']">
</div>

<div class="digifi-popup digifi-auto-layout" 
  id="category_editor"
  title="Edit Category"
  data-digifi-add-title="Add Category"
  data-digifi-source="devfilters.GetFilterCategory"
  data-digifi-update="devfilters.SaveFilterCategory">
  <input id="ce_name" required title="Name" data-digifi-value="Name" />
  <input id="ce_iconclass" required title="Icon Class" data-digifi-value="IconClass" />
</div>

<div class="digifi-popup digifi-auto-layout" 
  id="filter_editor"
  title="Edit Filter"
  data-digifi-add-title="Add Filter"
  data-digifi-source="devfilters.GetFilter"
  data-digifi-update="devfilters.SaveFilter">
  <input id="fe_name" required title="Name" data-digifi-value="Name" />
  <input id="fe_filterdisplay" required title="Filter Display" data-digifi-value="FilterDisplay" />
  <textarea id="fe_sql" class="digifi-codemirror" title="SQL" data-digifi-value="SQL"></textarea>
</div>

<div class="digifi-popup digifi-auto-layout" 
  id="parameter_editor"
  title="Edit Parameter"
  data-digifi-add-title="Add Parameter"
  data-digifi-source="devfilters.GetParameter"
  data-digifi-update="devfilters.SaveParameter">  
  <input id="pe_name" required title="Name" data-digifi-value="Name" disabled />
  <select id="pe_filtertypeid" required title="Type" data-digifi-value="FilterTypeId"><option value="">[select a type]</option><?php
    $q->sql = "SELECT FilterTypeId, Name FROM FilterType";
    
    $options = $q->executeObjects();
    
    foreach($options as $option) {
      echo '<option value="' . $option->FilterTypeId . '">' . htmlentities($option->Name) . '</option>'; 
    }
  ?></select>    
  <textarea id="pe_displayquery" class="poll-search-only" title="Display Query" data-digifi-value="DisplayQuery"></textarea>
  <textarea id="pe_searchquery" class="poll-search-only" title="Search Query" data-digifi-value="SearchQuery"></textarea>  
</div>

</contentPlaceHolder>