<?php
global $config;

if(!$this->CurrentUser->IsLoggedIn() || !$this->CurrentUser->MemberOf('Developer')) {
  header('Location: /');
  return;
}

if(isset($_GET['param'])) {

	$q = new DatabaseQuery();

	$q->sql = "SELECT Name FROM Role WHERE RoleId = ?ai_roleid;";

	$q->addParameter("ai_roleid",$_GET['param']);

	$RoleName = $q->executeScalar();
}

$this->initialize(array('Title' => $config->SiteName . ' Security Roles', 'MasterPageFile' => 'bucketmaster.htm', 'ActiveMenu' => $_GET['page'] ));
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">

	<?php if(isset($_GET['param'])) { ?>

		<div class="digifi-panel"
			id="role"
			title="<?=$RoleName?> Profiles"
			data-digifi-source="devroles.GetRoleProfiles"
			data-digifi-type="Profile"
			data-digifi-editor="role_profile_editor"
			data-digifi-buttons="['Add']">
		</div>

		<div class="digifi-popup digifi-auto-layout"
			  id="role_profile_editor"
			  title="Add Profile to Role"
		  	  data-digifi-update="devroles.SaveRoleProfile">

			<input id="rpe_profile_id" required title="Profile Id" data-digifi-value="ProfileId" />

		</div>

	<?php } else { ?>

		<div class="digifi-panel"
		  id="roles"
		  title="Roles"
		  data-digifi-source="devroles.GetRoles"
		  data-digifi-delete="devroles.DeleteRole"
		  data-digifi-type="Role"
		  data-digifi-editor="role_editor"
		  data-digifi-buttons="['Add', 'Refresh']">
		</div>

		<div class="digifi-popup digifi-auto-layout"
		  id="role_editor"
		  title="Edit Role"
		  data-digifi-add-title="Add Role"
		  data-digifi-source="devroles.GetRole"
		  data-digifi-update="devroles.SaveRole">
		  <input id="re_name" required title="Name" data-digifi-value="Name" />
		</div>
	<?php } ?>
</contentPlaceHolder>