<?php
global $config;

include_once('../inc/JSCompiler.php');

$q = new DatabaseQuery();

$pf = new PollFunctions();

/*if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}     */

if(!isset($_GET['param'])) {
  //Get random question, redirect user to it:
  $found = false;
  $poll = null;
  
  while(!$found) {
    $q->sql = "SELECT PollId, UrlSegment, AreResultsPublic, FilterSQL FROM Poll WHERE IsAvailable != 0 ORDER BY RAND() LIMIT 0,1";
    
    $poll = $q->executeObjects();
    
    if(!$poll || count($poll) == 0) {
      header('Location: /');
      return;
    }
    
    $found = $poll[0]->AreResultsPublic || !$poll[0]->FilterSQL;       
  }
  
  header('Location: /embed/' . $poll[0]->UrlSegment);
  return;
}

$this->initialize(array('Title' => 'Poll: ' . $this->Page->Viewing->Question, 'MasterPageFile' => 'embedmaster.htm', 'PushRooms' => ['p' . $this->Page->Viewing->PollId] ));
?>
<contentPlaceHolder id="head">
    <script>
    var question = jQuery.parseJSON('<?php
      $question = array('PollId' => $this->Page->Viewing->PollId, 'Question' => $this->Page->Viewing->Question, 'UrlSegment' => $this->Page->Viewing->UrlSegment);
    
      $q->sql = "SELECT DisplayOrder - 1 `Answer`, Choice `Text`, Icon, ChartColour, GradientLight, GradientDark FROM PollChoice WHERE PollId = ?ai_pollid ORDER BY DisplayOrder";
    
      $q->addParameter('ai_pollid', $this->Page->Viewing->PollId);
   
      $question['Choices'] = $q->executeObjects();
    
      echo json_encode($question);      
    ?>');
    </script>
</contentPlaceHolder>
<contentPlaceHolder id="body">
    <div class="container-fluid">
      <div class="text-right">
        <?php 
          if($this->CurrentUser->IsLoggedIn()) { ?>
        <?=$this->CurrentUser->DisplayName; ?>
        <?php } else { ?>
        <button type="button" id="embed_login" class="btn btn-primary btn-sm" title="Log in ">Log in</button> <button id="embed_signup" type="button" class="ml-2 btn btn-secondary btn-sm">Sign Up</button>
        <?php } ?>                	
      </div>
    
      <h5><?=$this->Page->Viewing->Question;?></h5>
      
      <div style="width: 100%; overflow: hidden; white-space: nowrap;">
        <div style="display: inline-block; width: 100%; position: relative;" id="poll_question">
          <ul class="list-unstyled ml-3 mt-2">
          <?php
            $q->sql = "SELECT PollChoiceId, Icon, Choice, ChartColour FROM PollChoice WHERE PollId = ?ai_pollid ORDER BY DisplayOrder";
            $q->addParameter('ai_pollid', $this->Page->Viewing->PollId);
            
            $choices = $q->executeObjects();
            
            foreach($choices as $choice) {
              ?><li><input id="pc_<?=$choice->PollChoiceId; ?>" type="radio" name="poll_choices" value="<?=$choice->PollChoiceId; ?>" /> <label for="pc_<?=$choice->PollChoiceId; ?>"><?=$choice->Choice; ?></label></li><?php 
            }
          ?>    
          </ul>
          
          <div class="row">
            <div class="col-6"><button type="button" class="btn btn-success">Submit Your Answer!</button></div>
            <div class="col-6"><button type="button" id="move_to_map" class="btn btn-info">See the Results</button></div>
          </div>
        </div>           
        <div style="display: inline-block; width: 100%; vertical-align: top; position: relative;" id="poll_results">
         <div class="m-0">
          <input type="checkbox" id="legend_toggler" />
            <div class="map-outer-container">            
              <div class="clearfix">                
                <div id="map_buttons" class="pull-left"></div>
                <div class="pull-right"></div>
              </div>
              <div class="map-container" style="border: solid 1px #000;">
                <div id="poll_map"></div>
              </div>
              <div id="map_debug" style="display: none;">{debug data here}</div>
            </div><div class="legend-container"><label for="legend_toggler" style="display: block;">
              <div class="text-center btn">Key</div>
              <ul class="list-group m-0 p-0">
                <?php
                foreach($choices as $choice) {
                ?><li class="list-group-item m-0 p-0" title="<?=htmlentities($choice->Choice); ?>"><i class="fa fa-fw fa-circle fa-2x" style="color: <?=$choice->ChartColour; ?>;"></i> <span class="legend-text"><?=$choice->Choice; ?></span></li><?php
                }?>
              </ul></label>              
            </div>
          </div>    
          
          <div class="m-1 text-center" id="filter_details">
            
          </div>
          
          <div class="row mt-2"> 
            <div class="col-sm-6 col-offset-3"><button type="button" id="move_to_poll" class="btn btn-info">Back to Question</button></div>
          </div>  
        </div>
      </div>      
  
    </div>
  
    <nav class="navbar fixed-bottom navbar-light bg-faded pollsite-footer">      
      <span class="navbar-text text-right">
        <span class="pull-left"><a href="/terms_and_conditions" target="_blank">Terms &amp; Conditions</a> | <a href="/privacy" target="_blank">Privacy Policy</a></span>
        <a href="https://www.thinkster.ca"><img src="/images/poweredby.png" alt="Powered by Thinkster" /></a>
      </span>
    </nav>   
    
    <?php if(!$this->CurrentUser->IsLoggedIn()) { ?>
    <div class="digifi-popup" id="login_popup" title="Log In to <?=htmlentities($config->SiteName); ?>" data-digifi-buttons="[]">
      <div id="thinkster_login_container" id="ts_login">
        <div class="form-group">
          <label class="sr-only" for="li_email">Email Address</label>
          <input type="email" class="form-control" id="li_email" placeholder="EMAIL">
        </div>        
        
        <div class="form-group">
          <label class="sr-only" for="li_password">Password</label>
          <input type="password" class="form-control" id="li_password" placeholder="PASSWORD">
        </div>
        
        <div class="text-center"><button id="li_login" type="button" class="btn btn-success btn-lg">Log in</button></div>
                
        <div class="text-center">- OR -</div>
        <div class="text-center"><button type="button" class="btn btn-primary poll-social btn-lg header-fb-login"><i class="fa fa-facebook"></i> Log in with Facebook</button></div>
      </div>
    </div>
    
    <div class="digifi-popup" id="signup_popup" title="Sign Up at <?=htmlentities($config->SiteName); ?>" data-digifi-buttons="[]">
      <div id="thinkster_login_container">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="su_firstname">First Name</label>
              <input type="text" class="form-control" id="su_firstname" placeholder="FIRST NAME" data-digifi-value="FirstName" required>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="su_lastname">Last Name</label>
              <input type="text" class="form-control" id="su_lastname" placeholder="LAST NAME" data-digifi-value="LastName" required>
            </div>
          </div>          
        </div>
      
        <div class="form-group">
          <label class="sr-only" for="su_email">Email Address</label>
          <input type="email" class="form-control" id="su_email" placeholder="EMAIL">
        </div>        
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="su_password">Password</label>
              <input type="password" class="form-control" id="su_password" placeholder="PASSWORD">
            </div>
          </div>
          <div class="col-sm-6">      
            <div class="form-group">
              <label class="sr-only" for="su_confirm_password">Confirm password</label>
              <input type="password" class="form-control" id="su_confirm_password" placeholder="CONFIRM PASSWORD">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="su_gender">GENDER&nbsp;</label>
              <select class="form-control" id="su_gender" placeholder="GENDER" data-digifi-value="GenderCode" required>
                <?php
                $q->sql = "SELECT GenderCode, Name FROM Gender ORDER BY Name";
  
                $genders = $q->executeObjects();
  
                foreach($genders as $gender) {
                  ?><option value="<?=$gender->GenderCode; ?>"><?=$gender->Name; ?></option><?php
                }
                ?>
              </select>
            </div>
          </div>
          <div class="col-sm-9">                  
            <div class="form-group">
              <label for="su_birthmonth">DATE OF BIRTH&nbsp;</label>
              <div class="row">
                <div class="col-5">              
                  <select class="form-control" id="su_birthmonth" required data-digifi-value="BirthMonth">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="col-3"><select class="form-control" id="su_birthday" required data-digifi-value="BirthDay">
              <?php
              for($x = 1; $x <= 31; $x++) {
                ?><option value="<?=$x; ?>"><?=$x; ?></option><?php
              }
              ?>
            </select></div>
                <div class="col-4"><select class="form-control" id="su_birthyear" required data-digifi-value="BirthYear">
              <?php
              for($x = intval(date('Y')) - 13; $x > 1899; $x--) {
                ?><option value="<?=$x; ?>"<?=($x == intval(date('Y')) - 18 ? ' selected' : ''); ?>><?=$x; ?></option><?php
              }
              ?>
            </select></div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="su_country">Country</label>
              <select class="form-control" id="su_country" placeholder="COUNTRY" data-digifi-value="CountryCode" required>
                <?php
                $result = $pf->GetAvailableCountries(array());
                
                foreach($result['Countries'] as $country) { 
                  ?><option value="<?=$country->CountryCode; ?>"><?=$country->Name; ?></option><?php
                }
                
                ?>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="su_postal">Postal Code</label>
              <input type="text" class="form-control" id="su_postal" placeholder="POSTAL CODE" maxlength="20" required data-digifi-value="PostalCode" />
            </div>
          </div>
        </div>
        
        <div class="text-center"><button id="embed_signup_button" type="button" class="btn btn-success btn-lg">Sign Up</button></div>
                
        <div class="text-center">- OR -</div>
        <div class="text-center"><button type="button" class="btn btn-primary poll-social btn-lg header-fb-login"><i class="fa fa-facebook"></i> Sign Up via Facebook</button></div>
      </div>
    </div>
    <?php } ?>
    
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<?=$config->GoogleMapsAPIKey; ?>&libraries=drawing"></script> 
</contentPlaceholder>