<?php
global $config;

include_once('../inc/JSCompiler.php');

$pf = new PollFunctions();

$q = new DatabaseQuery();

$isEvent = false;
$eventId = 0;
$showEventPollList = false;

if(!isset($_GET['param']) || preg_match("/event(\d+)/", $_GET['param'], $matches)) {

  if(isset($matches) && count($matches) > 0) { 
    $isEvent = true;
    $eventId = $matches[1]; 
        
    $results = $pf->GetEvent(array('EventId' => $eventId));
    
    $showEventPollList = $results['Event']->IsOver; 

    if(!$showEventPollList) {      
      $results = $pf->NextQuestion(array('PollIdOnly' => true, 'EventId' => $eventId));      	
    }        
            
  } else {
    $results = $pf->NextQuestion(array('PollIdOnly' => true));    	
  }     
  
  if($results['Success'] && !$showEventPollList) {  
    $p = new Data('Poll', $results['PollId']);   
    
    if($results['RequestorProfileId']) { 
        header('Location: /embed2/' . $results['RequestorProfileId'] . '/' . $p->UrlSegment);
    } else {
        header('Location: /embed2/' . $p->UrlSegment);      	    
    }
       
    return;	 
  } else if(!$showEventPollList) {
    echo $results['Message'];
    return;  	
  }   

}            

$pageTitle = '';

if(!$showEventPollList) {

  if(!$this->Page->Viewing || !$this->Page->Viewing['Success']) {
    echo "<h1>Invalid Request</h1>";
    echo "<p>You have requested an invalid poll <span style=\"display: none;\">" . ($this->Page->Viewing ? htmlentities($this->Page->Viewing['Message']) : 'bad pollid') . "</span></p>";
    echo '<a href="/" target="_top">Return Home</a>';
    exit; 
  }

  if($this->Page->Viewing['Question']->EventId) { 
    $eventId = $this->Page->Viewing['Question']->EventId;
    $isEvent = true;
  }
  
  $pageTitle = 'Poll: ' . $this->Page->Viewing['Question']->Question;
  
  $showAnswered = !$this->Page->Viewing['Question']->CanAnswer || $this->Page->Viewing['Question']->IsAnswered;
  $canAnswer = $this->Page->Viewing['Question']->CanAnswer;  

  $this->initialize(array('Title' => 'Poll: ' . $this->Page->Viewing['Question']->Question, 'MasterPageFile' => 'embedmaster.htm', 'PushRooms' => ['PO' . $this->Page->Viewing['Question']->PollId] ));
} else { 
  $pageTitle = $results['Event']->Name . ' Poll Results';

  $this->initialize(array('Title' => $results['Event']->Name . ' Poll Results', 'MasterPageFile' => 'embedmaster.htm'));    
}    

    

?>

<contentPlaceHolder id="head">

  <meta property="og:url"           content="<?=$config->SiteUrl; ?>/poll/<?= $_GET['param'];?>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<?=htmlentities($pageTitle); ?>" />
  <meta property="og:description"   content="Answer this question and find out how your friends answered!" />
  <meta property="og:image"         content="<?=$config->SiteUrl; ?>/images/thinkster200x200.jpg" />


<style>

/*media screen*/
body {
    font-family: "Cabin",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: #e6ecf0;
    overflow: hidden;
}


#visibility_selector label {
  opacity: 0.6;                      
}

#visibility_selector label.active {
  opacity: 1; 
}

.poll-answered-friends {
  position: relative;
  padding-left: 55px;
}                      
.poll-answered-friends a {  
  position: relative;
  margin-left: -25px;
  border: 1px solid #fff;
  /*margin-left: -10px;*/
}

.tab-content {
  margin-top: 0;
  padding-top: 0; 
}

.tab-pane .media {
  color: #fff; 
}

.tab-pane .media a {
  color: #ffe; 
}

.tab-pane .media .text-muted {
  color: #ffa !important; 
}

.poll-comments {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.poll-comment-box {
  /*padding-top: 50px; */

}

.poll-comment-box textarea {
  border-left: 0;
  border-right: 0;
  border-top: 0; 
  color: #eee;
}

.poll-comment-box textarea.form-control:focus {
  color: #fff;
}

#poll_comments .md-form label {
  color: #ddd; 
}


.map-container { 
  position: relative;
  height:350px;
  width:100%
}

#poll_map {
  width: 100%;
  height: 100%;  
}

.map-outer-container {
  width: calc(100% - 48px); 
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 0.75s; /* Safari */
  transition: width 0.75s;
}

.legend-container { 
  width: 48px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: width 0.75s; /* Safari */
  transition: width 0.75s;
  white-space: nowrap;
}

.legend-container .list-group-item {
  white-space: nowrap;
  overflow: hidden; 
}

.legend-text {
  display: none; 
}

#legend_toggler {
  display: none;
}


#legend_toggler:checked  ~ div {
  width: 50%; 
}

#legend_toggler:checked ~ div .legend-text {
  display: inline-block;
}

.nav .nav-item { 
  position: relative;
  margin-left: -25px;  
}

.tab-pane {
  color: #fff; 
}

.tab-pane .list-group {
  color: #000; 
}

.gm-style-iw {
  color: #000; 
}

#friend_respondant_count {
	font-size: 18pt;
	text-align: center;
	font-weight: bold;
	line-height: 47px;
}

</style>
<script>
var mapFilters = <?php

$filters = $pf->GetMapFilters(array());

if($filters['Success']) {
  echo json_encode($filters['Filters']); 
} else {
  echo "null"; 
}
 
?>;
</script>
</contentPlaceHolder>
  <contentPlaceHolder id="body">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=<?=$config->FBAppId; ?>';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
    
    <div class="container-fluid">  
      
      
      <?php if(!$showEventPollList) { ?>
      <!--Card-->
      <div class="card mt-2" style="background-color: <?=$this->Page->Viewing['Question']->BackgroundColor; ?>;">
      
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <div class="pl-4 pr-4 pt-2">
              <?php if($this->CurrentUser->IsLoggedIn()) {?>
              <a class="pull-right fa-lg poll-answered" <?=$showAnswered ? '' : 'hidden'; ?> href="/embed2<?=($isEvent ? "/event$eventId" : '');?>"><?=($isEvent ? "Back to Questions" : 'Next Question');?> <i class="fa fa-chevron-right"></i></a>
              <?php } ?>
              <span class="fa-lg poll-unanswered" <?=!$showAnswered ? '' : 'hidden'; ?>>
              <i class="fa fa-circle text-primary"></i>
              <?=$this->Page->Viewing['Question']->Category; ?>
              </span>              
              
              <span class="fa-lg poll-answered" <?=$showAnswered ? '' : 'hidden'; ?>>
              <i class="fa fa-circle text-primary"></i>
              <?=$this->CurrentUser->DisplayName; ?>
              </span>
            </div>
            <div class="pt-2 pl-4 pr-4 pb-4">
              <h1>
              <?php
              if($this->Page->Viewing['Question']->RequestorProfileId) {
                ?><small><?=$this->Page->Viewing['Question']->Requestor; ?> wants to know...</small><br /><?php 
              }
              ?>
              <?=$this->Page->Viewing['Question']->Question; ?></h1>
              <h3 id="your_poll_answer" class="poll-answered" <?=$showAnswered ? '' : 'hidden'; ?>><?php
              if(!$this->Page->CurrentUser->IsLoggedIn()) {
                echo "You must be logged in to see if you can answer this question";
              } else if(!$canAnswer && !$this->Page->Viewing['Question']->IsAnswered) {
                echo "You are not permitted to answer this question as you fall outside the target demographic"; 
              } else {  
                ?>
                <span class="pull-right">
                  <!--<div class="fb-share-button" 
                    data-href="<?=$config->SiteUrl; ?>/poll/<?= $_GET['param'];?>" 
                    data-layout="button_count">
                  </div> -->
                  <div title="Share on Facebook" aria-label="Share on Facebook" class="fb-share-button" data-href="<?=htmlentities($config->SiteUrl . '/poll/' . $_GET['param']);?>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<?=urlencode($config->SiteUrl . '/poll/' . $_GET['param']);?>">Share</a></div>
                  

                </span>
                <?php                                                                                          
                foreach($this->Page->Viewing['Choices'] as $choice) {
                  if($choice->MyAnswer) {
                    echo "You answered: " . $choice->Choice; 
                  }                   
                }
              }
              ?></h3>
            </div>
          </div>
          <!--/.Card image-->
      
      
          <!--Card content-->
          <div class="card-body blue rounded-top" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
          
            <!--Poll choices-->
            <div class="poll-unanswered m-4" <?=!$showAnswered ? '' : 'hidden'; ?>>
              <div class="text-center">                
                
                <div class="btn-group btn-group-sm" id="visibility_selector" data-toggle="buttons">
                  <label class="btn btn-danger">
                    <input name="options" id="option1" type="radio" value="PR" autocomplete="off"><i class="fa fa-fw fa-lock"></i> Private
                  </label>
                  <label class="btn btn-warning active">
                    <input name="options" id="option2" type="radio" checked="" value="FR" autocomplete="off"><i class="fa fa-fw fa-users"></i> Friends-Only
                  </label>
                  <label class="btn btn-success">
                    <input name="options" id="option3" type="radio" value="PU" autocomplete="off"><i class="fa fa-fw fa-globe"></i> Public
                  </label>
                </div>
                
                <?php switch($this->Page->Viewing['Question']->AnswerTypeCode) { 
                    case 'FO':
                    
                    break;
                    
                    case 'RA':?>
                        <div class="text-center mt-4">
                            <span class="btn-group btn-group-lg">
                        <?php 
                        foreach($this->Page->Viewing['Choices'] as $choice) {
                        ?>                        
                                <button class="btn btn-mdb poll-question-choice" type="button" value="<?=$choice->PollChoiceId; ?>"><i class="fa fa-fw fa-star"></i></button>                            
                        <?php
                        } ?>
                            </span>
                        </div>
                        <?php
                    break;
                    
                    case 'MC': ?>                                                            
                <ol class="list-unstyled mt-2 mb-2" id="poll_question_choices">
                  <?php
                 
                  
                  foreach($this->Page->Viewing['Choices'] as $choice) {
                    $color = '#ffffff';
                    if($choice->ChartColour != '') {
                      $rgb = HTMLToRGB($choice->ChartColour);
                      $hsl = RGBToHSL($rgb);
                      if($hsl->lightness > 100) {
                        // this is light colour!
                        $color = '#000000';
                      }   
                    }                                  
                  ?><li class="text-center"><button style="color: <?=$color; ?> !important; font-weight: bold; background-color: <?=$choice->ChartColour ? $choice->ChartColour : '#000'; ?>" class="btn btn-mdb w-75 btn-lg poll-question-choice" type="button" value="<?=$choice->PollChoiceId; ?>"><?=$choice->Choice; ?></button></li>                   
                  <?php } ?>                     
                </ol>
                    <?php
                    break;
                }
                ?>
                
              </div>
            </div>
            <!--/.Poll choices-->
            
            <!--Poll Results-->
            <?php if($this->CurrentUser->IsLoggedIn()) { ?>
            <div class="poll-answered" <?=$showAnswered ? '' : 'hidden'; ?>>
                                
              <div class="clearfix" style="margin-top: -30px;">                                         
                <!-- Nav tabs -->                  
                  <ul class="nav d-flex justify-content-end" role="tablist">
                      <li class="nav-item poll-answered-friends mr-auto" id="friend_response_cta">
                      <?php
                      foreach($this->Page->Viewing['RecentThreeFollowing'] as $friend) {  	
                      ?>
                      <a class="btn-floating" data-toggle="tab" href="#poll_friends_responses" role="tab"><img src="<?=$friend->AvatarThumbnailUrl; ?>" width="48" height="48" alt="Avatar for <?=$friend->DisplayName; ?>" /></a>
                      <?php
                      } 
                      
                      if(count($this->Page->Viewing['RecentThreeFollowing']) < $this->Page->Viewing['Question']->FollowingResponseCount) {
                      ?>
                      <a class="btn-floating blue-gradient" id="friend_respondant_count" data-toggle="tab" href="#poll_friends_responses" role="tab">+<?=$this->Page->Viewing['Question']->FollowingResponseCount - count($this->Page->Viewing['RecentThreeFollowing']);?></a>
                      <?php 
                      } 
                      ?>                          
                      </li>
                      <li class="nav-item">
                          <a class="btn-floating btn-lg btn-mdb active" data-toggle="tab" href="#poll_chart" role="tab"><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i><br> Pie Chart</a>
                      </li>
                      <li class="nav-item">
                          <a class="btn-floating btn-lg btn-mdb" data-toggle="tab" href="#poll_comments" role="tab"><i class="fa fa-comment fa-2x" aria-hidden="true"></i><br> Comments</a>
                      </li>
                      <li class="nav-item">
                          <a class="btn-floating btn-lg btn-mdb" data-toggle="tab" href="#poll_map_tab" role="tab"><i class="fa fa-map fa-2x" aria-hidden="true"></i><br> Map</a>
                      </li>
                      <!--
                      <li class="nav-item">
                          <a class="btn-floating btn-lg btn-mdb" data-toggle="tab" href="#panel62" role="tab"><i class="fa fa-heart fa-2x" aria-hidden="true"></i><br> Likes</a>
                      </li>-->                        
                  </ul>
              </div>
              
              <!-- Tab panels -->
              <div class="tab-content blue">
              
                  <!--Friend Responses-->
                  <div class="tab-pane fade" id="poll_friends_responses" role="tabpanel" data-digifi-source="embed2.GetFriendResponses" data-digifi-json-transform="thinkster.transform.FriendResponses">                                          
                  </div>
                  <!--/.Friend Responses-->
                                
                  <!--Pie Chart -->
                  <div class="tab-pane fade in show active" id="poll_chart" role="tabpanel">                  
                    <div class="poll-chart-data poll-full-size" hidden><?php
                    $intData = array('data' => array(), 'backgroundColor' => array());          
                    $labels = array();                    
                    
                    foreach($this->Page->Viewing['Choices'] as $choice) {
                      $intData['data'][] = $choice->SelectionCount;
                      $intData['backgroundColor'][] = $choice->ChartColour;
                      $labels[] = $choice->Choice;
                    }
                    
                    $data = array('datasets' => [$intData], 'labels' => $labels);
                    
                    echo json_encode($data);
                    ?></div>                                  
                  </div>
                  <!--/.Pie Chart-->
              
                  <!--Comments-->
                  <div class="tab-pane fade" id="poll_comments" role="tabpanel">
                    <div class="poll-comments" 
                      data-poll-targettype="PO" 
                      data-poll-targetid="<?=$this->Page->Viewing['Question']->PollId; ?>"
                      data-digifi-source="embed2.GetComments"
                      data-digifi-source-args="[null]" 
                      data-digifi-json-transform="thinkster.transform.comments"
                      style="height: 320px; overflow: auto;">
                    </div>           
                    <div id="new_comment_box" class="poll-comment-box" data-poll-targettype="PO" data-poll-targetid="<?=$this->Page->Viewing['Question']->PollId; ?>"></div>
                                        
                  </div>
                  <!--/.Comments-->
              
                  <!--Map-->
                  <div class="tab-pane fade" id="poll_map_tab" role="tabpanel">
                      <div class="m-0">
                        <input type="checkbox" id="legend_toggler" />
                        <div class="map-outer-container">            
                          <div class="clearfix">                
                            <div id="map_buttons" class="pull-left"></div>
                            <div class="pull-right"></div>
                          </div>
                          <div class="map-container" style="border: solid 1px #000;">
                            <div id="poll_map"></div>
                          </div>
                          <div id="map_debug" style="display: none;">{debug data here}</div>
                        </div><div class="legend-container"><label for="legend_toggler" style="display: block;">
                          <div class="text-center btn">Key</div>
                          <ul class="list-group m-0 p-0">
                            <?php
                            foreach($this->Page->Viewing['Choices'] as $choice) {
                            ?><li class="list-group-item m-0 p-0" title="<?=htmlentities($choice->Choice); ?>"><i class="fa fa-fw fa-circle fa-2x" style="color: <?=$choice->ChartColour; ?>;"></i> <span class="legend-text"><?=$choice->Choice; ?></span></li><?php
                            }?>
                          </ul></label>              
                        </div>
                      </div>   
                      
                      <div hidden id="poll_object_json"><?php
  $question = array('PollId' => $this->Page->Viewing['Question']->PollId, 'Question' => $this->Page->Viewing['Question']->Question, 'UrlSegment' => $this->Page->Viewing['Question']->UrlSegment);

  $q->sql = "SELECT DisplayOrder - 1 `Answer`, Choice `Text`, Icon, ChartColour, GradientLight, GradientDark FROM PollChoice WHERE PollId = ?ai_pollid ORDER BY DisplayOrder";

  $q->addParameter('ai_pollid', $this->Page->Viewing['Question']->PollId);

  $question['Choices'] = $q->executeObjects();

  echo json_encode($question);      
?></div>
                  <!--/.Map-->               
              
              </div>

            </div>
            <!--/.Tab-content -->
            
                                                 
          </div>
          <!--/.Poll Results-->
          <?php } else { ?>
          
          <div><p><a href="/splash?ReturnUrl=<?=urlencode('/poll/' . $_GET['param']); ?>" target="_top" class="btn btn-primary">Sign In / Sign Up</a></p></div>
          
          <?php } ?>
    
      
      </div>
      <!--/.Card content-->
      
      <!--/.Card-->
      
      <?php } else {  
        $q->sql = "SELECT p.PollId
FROM Poll p	
WHERE EventId = ?ai_eventid";

        $q->addParameter('ai_eventid', $eventId);
        
        $pollIds = $q->executeObjects();
        
        ?>
        <div class="list-group">
        <?php        
        foreach($pollIds as $pollId) {  
          $poll = $pf->GetPoll(array('PollId' => $pollId->PollId));
          
          echo '<li class="list-group-item"><div class="d-flex w-100 justify-content-between"><h5 class="mb-1"><i class="fa fa-fw fa-question-circle mr-1" style="color: ' . $poll['Question']->BackgroundColor . '"></i> <a href="/embed2/' . $poll['Question']->UrlSegment . '">' . $poll['Question']->Question . '</a></h5>';
          echo '<p class="mb-1 poll-chart-data" hidden>';
          
          $intData = array('data' => array(), 'backgroundColor' => array());          
          $labels = array();                    
          
          foreach($poll['Choices'] as $choice) {
            $intData['data'][] = $choice->SelectionCount;
            $intData['backgroundColor'][] = $choice->ChartColour;
            $labels[] = $choice->Choice;
          }
          
          $data = array('datasets' => [$intData], 'labels' => $labels);
          
          echo json_encode($data);
          
          echo '</p></div></li>';          
        }?>
        </div>  
        
                                      
      
      <?php } ?>
      
      
      
    </div>

</div>
</contentPlaceHolder>          