<?php
global $config;

$event = null;
$eventAttendee = null;
$isAdmin = false;
$showEvent = false;
$hiddenEventMessage = "We're sorry; we're unable to display the details of this event at this time";

$q = new DatabaseQuery();

if(isset($_GET['param'])) { 
  $event = new Data('Event');

  $event->load(array('UrlSegment' => $_GET['param']));
  
  $eventAttendee = new Data('EventAttendee');   
  
  $eventAttendee->load(array('EventId' => $event->EventId, 'ProfileId' => $this->CurrentUser->ProfileId));
  
  $eventAdmin = new Data('EventAdministrator');   
  
  $eventAdmin->load(array('EventId' => $event->EventId, 'ProfileId' => $this->CurrentUser->ProfileId));
  
  $isAdmin = $this->CurrentUser->MemberOf('Administrator') || !$eventAdmin->isNewRow();
}
 
$this->initialize(array('Title' => (isset($_GET['param']) ? $this->Page->Viewing->Name . ' - ' : '' ) . $config->SiteName . ' Events', 'MasterPageFile' => 'master.htm', 'PushRooms' => (isset($_GET['param']) ? ['EV' . $this->Page->Viewing->EventId] : null) )); 
?>
<contentPlaceHolder id="head">

</contentPlaceHolder>

<contentPlaceHolder id="body">
  
  <div class="container-fluid">
    
    <?php if($event) {
      $bannerSrc = "//via.placeholder.com/1000x150";
     
      if($event->BannerMediaId) { 
        $m = new Data('Media', $event->BannerMediaId);
        
        $bannerSrc = $m->Url;
      }
    ?>
    
    <div class="card">
      <div style="height: 250px; background-image: url(<?=$bannerSrc; ?>); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
      <div class="card-img-overlay">
        <?php if($isAdmin) { ?><button type="button" id="admin_change_header_button" class="btn btn-primary btn-rounded waves-effect pull-right">Change Image</button><?php } ?>
        <h1 class="card-title event-title"><?=$this->Page->Viewing->Name; ?></h1>        
      </div>
      <div class="card-block">
    <?php 
    
    switch($event->AttendanceRestrictionTypeCode) {
    
      case 'INV':
        $showEvent = !$eventAttendee->IsNewRow();
      break;
      
      case 'GEO':
        $showEvent = true;
      break; 
    
      case 'LFC':
      
      break; 
      
      case 'NON':
        $showEvent = true;
      break; 
      
      case 'REQ':
        $showEvent = !$eventAttendee->IsNewRow();
      break;    
    
    } 
    
    if(!$event->IsActive && !$isAdmin) {
      $showEvent = false;
      $hiddenEventMessage = "We're sorry, this event is not presently active"; 
    }
    
    if($showEvent) {    
    
    if(!$event->IsActive) { ?>
    <p class="text-center text-warning"><i class="fa fa-warning"></i> <strong>This event is not active or visible to the public yet</strong></p>      
    <?php } ?>                  
    <div class="row" id="live_event_container">            
    
      <div class="col-sm-3">
        <h3>When</h3>
        <p><?php
          echo date('F j, Y h:ia', strtotime($this->Page->Viewing->StartDateTime));
          
          echo " to ";
          
          if(date('Y-m-d', strtotime($this->Page->Viewing->StartDateTime) == date('Y-m-d', strtotime($this->Page->Viewing->EndDateTime)))) {
            echo date('h:ia', strtotime($this->Page->Viewing->EndDateTime));
          } else {
            echo date('F j, h:ia', strtotime($this->Page->Viewing->EndDateTime));
          }
           
          ?><br /> 
          <?php if($this->Page->Viewing->IsLive) { ?> <span class="text-success">Happening now!</span>
          <?php } else { ?><time class="timeago" datetime="<?=$this->Page->Viewing->StartDateTimeUCT; ?>"></time></p>
          <?php } ?>
        <?php if($this->Page->Viewing->Address) { ?>
        <h3>Where</h3>
        <p><?=$this->Page->Viewing->Address; ?></p>
        <?php } ?>
        <h3>Details</h3>        
        <div class="/*poll-overflow-conceal*/">
          <div><?=$event->Description;?></div>
        </div>
      </div>
    
      <div class="col-sm-6">   
        
        <?php if($this->Page->Viewing->IsLive && !$this->Page->Viewing->IsCheckedIn) { ?>
        <div class="text-center m-4">
          <button type="button" id="checkin_button" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Check In to This Event</button>
        </div>
        <?php } ?>
        
        <div class="poll-reactionbar m-4">
          <?php if($this->Page->Viewing->AllowReactions) { ?>
            <span class="poll-react mr-4" title="React to <?=htmlentities($event->Name);?>" data-poll-targettype="EV" data-poll-targetid="<?=$this->Page->Viewing->EventId; ?>" data-poll-reactioncount="<?=$this->Page->Viewing->ReactionCount; ?>"></span>
          <?php 
          } 
          
          if($this->Page->Viewing->AllowCommenting) { ?>
            <a href="#new_comment_box">Comment</a>
          <?php } ?>
        </div>
        
        <?php if($this->Page->Viewing->PollCount > 0 && ($this->Page->Viewing->IsLive || $this->Page->Viewing->IsOver)) { ?>
        <hr />
        
        <div class="text-center mt-2"><h3 id="poll_question_text"><?=$this->Page->Viewing->IsOver ? htmlentities($this->Page->Viewing->Name) . ' Poll Results' : 'We want to know!'; ?></h3></div>
        
        <iframe class="poll-container" src="/embed2/event<?=$this->Page->Viewing->EventId; ?>" border="0" style="width: 100%; height: 380px; border: 0;"></iframe>
        
        <?php } else if($this->Page->Viewing->IsOver) { ?>
        
        <div class="alert alert-warning"><p>This event is now over.</p></div>
        
        <?php } ?>
        
        <hr />
             
        <h3><?=htmlentities($event->Name);?> Images</h3>
        
        <?php if($this->Page->Viewing->IsLive && !$this->Page->Viewing->IsCheckedIn) { ?>
        <div class="alert alert-warning"><i class="fa fa-warning fa-fw fa-pull-left fa-2x mr-2"></i><p>You must be checked in to this event to post images.</p></div>
        <?php } else if ($this->Page->Viewing->IsEventAdministrator || ($this->Page->Viewing->IsLive && $this->Page->Viewing->IsCheckedIn)) { ?>        
        <div class="text-center" id="image_upload_button">
          <span class="btn btn-lg btn-secondary fileinput-button m-2">
            <i class="fa fa-plus"></i>
            <span>Upload Image...</span>
            <input id="image_upload" type="file" name="files[]" data-url="/uploads" >
          </span>
        </div>     
        
        <div id="image_upload_step_2" hidden>
          Step 2 here. You shouldn't see this. Stop looking at it.
        </div>                                          
        <?php } ?>
        
        <div id="image_list" data-digifi-source="events.GetImages"
            class="poll-image-list"  
            data-digifi-source-args="[0]"
            data-digifi-json-transform="thinkster.transform.imageList"></div>                         
        <hr />
                
        <div class="poll-comments" 
          data-poll-targettype="EV" 
          data-poll-targetid="<?=$this->Page->Viewing->EventId; ?>"
          data-digifi-source="events.GetComments" 
          data-digifi-json-transform="thinkster.transform.comments">
        </div>
        
        <?php if($this->Page->Viewing->AllowCommenting) { ?>
        <hr />                   
        <div id="new_comment_box" class="poll-comment-box" data-poll-targettype="EV" data-poll-targetid="<?=$this->Page->Viewing->EventId; ?>"></div>
        <?php } ?>
        
      </div>  
      
      <div class="col-sm-3">
        <?php if(!$this->Page->Viewing->IsOver && !$this->Page->Viewing->IsCheckedIn) { ?>
        <div class="text-center">
          <div><label id="attending_label"><strong>Will you be Attending?</strong></label></div>
          
          
          <div class="btn-group btn-group-sm" data-toggle="buttons" aria-labelled-by="attending_label">
            <label class="btn btn-success active">
              <input class="attendance-selector" type="radio" name="attendance_type" id="option1" autocomplete="off" value="YA"><i class="fa fa-thumbs-o-up"></i> Yes
            </label>
            <label class="btn btn-danger">
              <input class="attendance-selector" type="radio" name="attendance_type" id="option2" autocomplete="off" value="NO"><i class="fa fa-thumbs-o-down"></i> No
            </label>
            <label class="btn btn-warning">
              <input class="attendance-selector" type="radio" name="attendance_type" id="option3" autocomplete="off" value="MA"><i class="fa fa-question-circle-o"></i> Maybe
            </label>
          </div>                                  
        </div>
        <?php } ?>
        <h3>Attendees</h3>
        <?php
        
        $q->sql = "SELECT at.AttendanceTypeCode, COUNT(ea.EventAttendeeId) `Total`
          FROM AttendanceType at
            LEFT JOIN EventAttendee ea ON ea.AttendanceTypeCode = at.AttendanceTypeCode AND EventId = ?ai_eventid
           WHERE at.AttendanceTypeCode IN ('YA', 'NO', 'MA')
          GROUP BY at.AttendanceTypeCode
          ORDER BY at.AttendanceTypeCode DESC";
        
        $q->addParameter('ai_eventid', $this->Page->Viewing->EventId);
        
        $counts = $q->executeObjects();
        
        ?>
        
        
        <ul class="nav md-pills nav-justified pills-secondary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#attendees_ya" role="tab"><div>Yes</div><span class="poll-attendance-YA" data-event-id="<?=$this->Page->Viewing->EventId; ?>"><?=$counts[0]->Total; ?></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#attendees_no" role="tab"><div>No</div><span class="poll-attendance-NO" data-event-id="<?=$this->Page->Viewing->EventId; ?>"><?=$counts[1]->Total; ?></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#attendees_ma" role="tab"><div>Maybe</div><span class="poll-attendance-MA" data-event-id="<?=$this->Page->Viewing->EventId; ?>"><?=$counts[2]->Total; ?></span></a>
            </li>
        </ul>
        
        <!-- Tab panels -->
        <div class="tab-content">
        
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="attendees_ya" role="tabpanel">
              <div class="event-attendees-YA" data-digifi-source="events.GetAttendees" 
                data-digifi-source-args="{AttendanceTypeCode: 'YA'}"
                data-digifi-json-transform="thinkster.transform.attendees"
                data-poll-empty-message="nobody has said they're attending this event yet"></div>                             
            </div>
            <!--/.Panel 1-->
        
            <!--Panel 2-->
            <div class="tab-pane fade" id="attendees_no" role="tabpanel">
                <div class="event-attendees-NO" data-digifi-source="events.GetAttendees" 
                  data-digifi-source-args="{AttendanceTypeCode: 'NO'}"
                  data-digifi-json-transform="thinkster.transform.attendees"
                  data-poll-empty-message="nobody has declined this event yet"></div>
            </div>
            <!--/.Panel 2-->
        
            <!--Panel 3-->
            <div class="tab-pane fade" id="attendees_ma" role="tabpanel">
                <div class="event-attendees-MA" data-digifi-source="events.GetAttendees" 
                  data-digifi-source-args="{AttendanceTypeCode: 'MA'}"
                  data-digifi-json-transform="thinkster.transform.attendees"
                  data-poll-empty-message="nobody has said they might attend this event yet"></div>    
            </div>
            <!--/.Panel 3-->
        
        </div>
                                    
                                    
                                    
      </div>        
      
    </div>
    
    <?php if($isAdmin) { ?>
    <div class="digifi-popup" 
        id="banner_uploader"
        data-digifi-buttons="[{Text: 'Post', Action: 'Save'},{Text: 'Cancel', Action: 'Cancel'}]"
        data-digifi-update="events.PostBanner"
        title="Upload Your Event Banner">    
        <input type="hidden" id="au_existing" data-digifi-value="ExistingMediaId" />
        <input type="hidden" id="au_event_id" data-digifi-value="EventId" />
        <div class="poll-avatar-step text-center" id="event_image_step_1">
          <p class="text-muted">Hint: ideal banners should be at least 2000x200 pixels in size</p>
          <span class="btn btn-lg btn-secondary fileinput-button">
            <i class="fa fa-plus"></i>
            <span>Upload Image...</span>
            <input id="event_upload" type="file" name="files[]" data-url="/uploads" >
          </span>
          <div id="recent_uploads" 
            data-digifi-source="events.GetRecentImages"
            data-digifi-json-transform="thinkster.transform.recentImages"></div>
        </div>
        
        <div class="poll-avatar-step" id="event_image_step_2" hidden>
        I'm step 2!
        </div>
    </div>
    <?php   }
    } else { ?>
    
    <div class="row">
      <div class="col-sm-6 offset-sm-3 p-3"><div class="alert alert-info">
        <i class="fa fa-frown-o fa-3x pull-left"></i>
        <p><?=$hiddenEventMessage; ?></p>
      </div></div>
    </div>
    
    <?php } ?>         
      </div>
    </div>
 <?php   
 
    } else { ?>
    
    <div class="row">
      <div class="col-sm-9">
        <h1>Events</h1>
        
        <?php
        /*$q->sql = "SELECT e.EventId `@Id`, 
	e.Name `@Name`, 
  e.UrlSegment `@UrlSegment`,
	e.Location `@Location`,
  DATE_FORMAT(e.StartDateTime, '%b %d') `@CalDate`,
	e.StartDateTime `@StartDateTime`,
    ea.AttendanceTypeCode `@AttendanceTypeCode`
FROM Event e
	LEFT JOIN EventAttendee ea ON ea.EventId = e.EventId  AND ea.ProfileId = ?ai_profileid
WHERE e.StartDateTime >= NOW()
  AND e.IsActive = 1
GROUP BY e.EventId, e.Name, e.Location, e.StartDateTime, ea.AttendanceTypeCode
ORDER BY e.StartDateTime";

        $q->addParameter('ai_profileid', $this->CurrentUser->ProfileId);
        
        $xml = $q->executeXml('Events', 'Event');
        
        echo WebPage::Transform($xml, 'PublicEventList.xslt', '<div class="row"><div class="col-6 offset-3"><div class="alert alert-info"><p>There are no upcoming events</p></div></div></div>') ;*/
        
        
        $pf = new PollFunctions();
        
        $results = $pf->GetEvents(array());
        
        if($results['Success']) { ?>
        <div class="list-group">
        
        <?php      
          foreach($results['Events'] as $event) { ?>
          <a class="list-group-item list-group-item-action" style="display: block;" href="/events/<?=$event->UrlSegment; ?>">
            <span class="pull-left text-center mr-2">
              <i class="fa fa-calendar fa-2x"></i><br />
              <?=$event->CalDate; ?>
            </span>
            <h4><?=$event->Name; ?><?php
            if($event->IsEventAdministrator){
              echo '<i class="ml-2 fa fa-star text-warning" title="You are an administrator of this event"></i>'; 
            }
            ?></h4>
            <div><?=($event->Distance < 0 ? '<em>no location given</em>' : $event->Distance . 'km away'); ?><br /><?php
                                 	switch($event->AttendanceTypeCode) {
                                    case 'YA':
                                      echo 'You ';
                                      if($event->FriendsAttending > 0) {
                                        echo 'and ' . $event->FriendsAttending . ' of your friends ';
                                      }
                                      echo 'are attending this event';
                                    break; 
                                    case 'NA':
                                      echo 'You <strong>might</strong> attend this event';
                                    break;
                                    case 'NO':
                                      echo 'You are <strong>not</strong> attending this event';
                                    break;
                                    case 'IN':
                                      echo 'You have been invited to this event';
                                    break;
                                    case 'RJ':
                                      echo 'You have requested to join this event';
                                    break;     
                                    default:
                                      if($event->FriendsAttending > 0) {
                                        echo $event->FriendsAttending . ' of your friends' . ($event->FriendsAttending == 1 ? ' is' : ' are') . ' attending this event';  
                                      }
                                    break;
                                  }
                                 ?></div>
          </a>
          
           
          <?php }?>
          
        </div>
         
        <?php } else { ?>
        
        <div class="alert alert-danger"><p>We're sorry, we are unable to retrieve events at this time.</div>
          	
        <?php } ?>
        
        
      </div>
       
    </div>
      
    <?php } ?>
        
  </div>

</contentPlaceHolder>