<?php
global $config;

$q = new DatabaseQuery();

if(!$this->CurrentUser->IsLoggedIn() || !$this->CurrentUser->IsPrivate) {
  header('Location: /');
  return;
}

$this->initialize(array('Title' => 'Follow Requests', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">
</contentPlaceHolder>

<contentPlaceHolder id="body">
  <div class="container">    
    <div class="card">
      <div class="card-header text-center">Follow Requests <span class="ml-3 badge badge-secondary poll-follow-request-count"></span></div>
      <div class="poll-blue-list poll-follow-request-list" id="request_page_list" 
          data-digifi-source="follow_requests.GetRequests" 
          data-digifi-json-transform="thinkster.transform.followrequests">      
                                          
      </div>        
    </div>
  </div>
</contentPlaceHolder>