<?php

if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}

$this->initialize(array('Title' => 'My Friends', 'MasterPageFile' => 'master.htm', 'Access' => array('LoggedIn') ));

?>
<contentPlaceHolder id="head">

<meta name="description" content="Messages" />


</contentPlaceHolder>

<contentPlaceHolder id="body">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="digifi-panel" title="Friends">
    	<ul class="nav nav-tabs indigo" role="tablist">
        	<li class="nav-item">
            	<a class="nav-link active" data-toggle="tab" href="#friend_list">Friends</a>
          	</li>
          	<?php if($this->Page->isMe) {?>
         	<li class="nav-item">
          	  	<a class="nav-link" data-toggle="tab" href="#requests">Friend Requests <span class="badge badge-danger" id="requests_badge"></span></a>
          	</li>
          	<li class="nav-item">
          	  <a class="nav-link" data-toggle="tab" href="#outgoing">Sent Requests</a>
          	</li>
           	<?php } else { ?>
           		<li class="nav-item">
           			<a class="nav-link" data-toggle="tab" href="#common">Friends in Common</a>
           		</li>
           	<?php } ?>
        </ul>

        <div class="tab-content">
          	<div class="tab-pane active" id="friend_list" role="tabpanel" >

          		<?php if($this->Page->CanViewFriends) { ?>              
					<div class="row">
						<p class="mr-4">
							<div class="input-group">
								<span class="input-group-addon" id="basic-friend_search_label">Search for Friends</span>
								<input id="friend_search" class="form-control" aria-describedby="friend_search_label" />
								<span class="input-group-btn">
									<button type="button" class="btn" type="button"><i class="fa fa-search"></i><span class="sr-only">search</span></button>
								</span>
							</div>
						</p>
					</div>

					<div class="row" data-digifi-source="friends.GetFriendList" data-digifi-json-transform="thinkster.transform.friendList">
					</div>

				<?php } else { ?>
					<div class="row">
						<p class="mt-4">This User Is Not Sharing Their Friends List</p>
					</div>
				<?php } ?>

          	</div>
        	<?php if($this->Page->isMe) { ?>
          		<div class="tab-pane" id="requests" role="tabpanel" data-digifi-source="friends.GetIncomingRequests" data-digifi-json-transform="thinkster.transform.pendingFriends">
          		</div>
          		<div class="tab-pane" id="outgoing" role="tabpanel" data-digifi-source="friends.GetOutgoingRequests" data-digifi-json-transform="thinkster.transform.outgoingFriends">
          		</div>
			<?php } else { ?>
				<div class="tab-pane" id="common" role="tabpanel" data-digifi-source="friends.GetCommonFriends" data-digifi-json-transform="thinkster.transform.commonFriendsList">
				</div>
			<?php } ?>
        </div>
                   </div>
    </div>

    <div class="col-md-4">      
      <div class="digifi-panel" title="People you may know" id="suggested_friensd" data-digifi-source="friends.SuggestFriends" data-digifi-json-transform="thinkster.transform.suggestedFriends"></div>
    </div>
  </div>
</div>



</contentPlaceHolder>