<?php
global $config;

if($this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return; 
}

$q = new DatabaseQuery();
 
$this->initialize(array('Title' => 'Log in to ' . $config->SiteName, 'MasterPageFile' => 'master.htm' )); 
?>
<contentPlaceHolder id="head">

<meta name="description" content="Meta description to go here" />
<!--<link rel="image_src" href="http://dev.egghub.com/images/egghub_icon.png" /><!--formatted-->


</contentPlaceHolder>

<contentPlaceHolder id="body">
  


</contentPlaceHolder>