<?php
global $config;

$q = new DatabaseQuery();

session_destroy();

header('Location: /');
return;



$this->initialize(array('Title' => $config->SiteName . ' Signed Out', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">
  <meta name="description" content="Poll Dashboard Meta Content to go here" />
</contentPlaceHolder>

<contentPlaceHolder id="body">
  <h1>Signed out</h1>
  <p>You've been signed out of <?=$config->SiteName; ?>. We hope to see you soon.</p>
</contentPlaceHolder>