<?php

if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}

if($this->Page->Viewing->IsNewRow() || ($this->Page->Viewing->TargetTypeCode != 'PR' && $this->Page->Viewing->TargetTypeCode != 'EV')) {
  header('Location: /');
  return; 
}

$isDeleted = $this->Page->Viewing->Deleted != null;

$this->initialize(array('Title' => $isDeleted ? 'Invalid Request' : $this->Page->Viewing->Name, 'MasterPageFile' => 'master.htm', 'PushRooms' => ['ME' . $this->Page->Viewing->MediaId] ));

?>
<contentPlaceHolder id="head">

<?php if($isDeleted && !$this->CurrentUser->MemberOf('Administrator')) { ?>
  <meta name="description" content="Invalid request" />
<?php } else { ?>        	
  <meta name="description" content="<?=htmlentities($this->Page->Viewing->Description); ?>" />
<?php } ?>

  <style>
  html, body { height: 100%; }
    #media_container {
      background-color: #000;
      background-image: url(<?=$this->Page->Viewing->Url; ?>);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  </style>

</contentPlaceHolder>

<contentPlaceHolder id="body">

<?php if($isDeleted && !$this->CurrentUser->MemberOf('Administrator')) { ?>
<div class="row">
  <div class="col-8 offset-2">
    <div class="alert alert-danger"><p>This image is no longer available</p><p class="text-center"><a href="/" class="alert-link">Return Home</a></p></div>
  </div>
</div>
<?php } else { ?> 

<div class="container" style="height: calc(100% - 110px);">
  <?php if($isDeleted && $this->CurrentUser->MemberOf('Administrator')) { ?>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="alert alert-danger"><i class="fa fa-warning fa-2x fa-pull-left mr-1"></i><p>This image is marked for deletion</p></div>
    </div>
  </div>
  <?php } ?>

  <div class="row d-flex align-items-stretch" style="height: 100%;">
    <div class="col-sm-8 p-0" style="height: 100%;">
      <div id="media_container"></div>      
    </div>
    <div class="col-sm-4">
      <h4 style="overflow: hidden;" title="<?=htmlentities($this->Page->Viewing->Name); ?>"><?=$this->Page->Viewing->Name; ?></h4>
      <p class="small"><?=$this->Page->Viewing->Description; ?></p>
      
      <?php
      //Load profile information of poster:
      $u = new Data('Profile', $this->Page->Viewing->Creator);
      ?>
      
      <div class="media">
        <img class="d-flex mr-3" src="<?=!$u->AvatarMicrothumbUrl ? "/images/default_avatar.png" : $u->AvatarMicrothumbUrl; ?>" alt="Avatar for <?=htmlentities($u->DisplayName); ?>" width="64" height="64">
        <div class="media-body">
          <h5 class="mt-0"><a href="/profile/<?=$u->ProfileName; ?>"><?=htmlentities($u->DisplayName); ?></a></h5>
          <small class="text-muted"><time class="timeago" datetime="<?=date('Y-m-d\TH:i:s', time($this->Page->Viewing->Created));?>"><?=$this->Page->Viewing->Created;?></time></span>
        </div>
      </div>
      
      <?php
      
      if($this->Page->Viewing->TargetTypeCode == 'EV') {
        $e = new Data('Event', $this->Page->Viewing->TargetId);
        
        ?><div>Posted at <a href="/events/<?=$e->UrlSegment; ?>"><i class="fa fa-calendar"></i> <?=$e->Name; ?></a></div><?php  
      }
      
      ?>
      
      
      <hr />
      
      <div class="poll-reactionbar m-4">
        <span class="poll-react mr-4" title="React to this image" data-poll-targettype="ME" data-poll-targetid="<?=$this->Page->Viewing->MediaId; ?>" data-poll-reactioncount="<?=$this->Page->Viewing->ReactionCount; ?>"></span> 
        <a href="#new_comment_box" class="mr-4"><i class="fa fa-comment"></i> Comment</a>
        <span class="link poll-flag-button" title="Report this image" data-poll-targettype="ME" data-poll-targetid="<?=$this->Page->Viewing->MediaId; ?>" data-poll-type="Image"><i class="fa fa-flag"></i> Report</span>
      </div>
      <div class="poll-comments" 
        data-poll-targettype="ME" 
        data-poll-targetid="<?=$this->Page->Viewing->MediaId; ?>"
        data-digifi-source="media.GetComments" 
        data-digifi-source-args="[null]" 
        data-digifi-json-transform="thinkster.transform.comments">
      </div>
      <hr />
      <h5>Post a Comment</h5>
      <div id="new_comment_box" class="poll-comment-box" data-poll-targettype="ME" data-poll-targetid="<?=$this->Page->Viewing->MediaId; ?>"></div>
  
    </div>
  </div>
</div>
<?php } ?>


</contentPlaceHolder>