<?php
global $config;

$pf = new PollFunctions();
$q = new DatabaseQuery();

if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}

$bannerSrc = "/images/boring_header.png";

if($this->CurrentUser->BannerMediaId) {
  $m = new Data('Media', $this->CurrentUser->BannerMediaId);
  
  $bannerSrc = $m->Url;  
}

$this->initialize(array('Title' => 'Newsfeed', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">                     
  <meta name="description" content="Thinkster Newsfeed" />
</contentPlaceHolder>

<contentPlaceHolder id="body">
  <!--<div class="container">    
    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <div class="digifi-panel poll-personal-newsfeed" title="Newsfeed" id="personal_newsfeed" data-digifi-source="newsfeed.GetFeed" data-digifi-source-args="[0]" data-digifi-json-transform="thinkster.transform.timeline"></div>
      </div>
      <div class="col-lg-4 col-sm-6">        
        <div class="digifi-panel" id="following" title="People You're Following" data-digifi-source="newsfeed.GetFollowing" data-digifi-json-transform="thinkster.transform.following"></div>
      </div>
    </div>
  </div>-->

<div class="container-fluid">

  <div class="row">
  
    <!-- begin profile overview and friends list -->
    <div class="col-sm-3 hidden-xs poll-fixed">
    
      <div class="card mb-2">
        <img class="card-img-top" id="profile_banner_image" src="<?=$bannerSrc;?>" height="150" alt="Banner for <?=htmlentities($this->CurrentUser->DisplayName); ?>">
        <div class="card-block">
          <?php if($this->CurrentUser->AvatarMediaId) { 
            $m = new Data('Media', $this->CurrentUser->AvatarMediaId);           
          ?>
          <a href="/media/<?=$m->Selector; ?>">
          <?php } ?>
          <img class="poll-avatar" id="current_user_dashboard_avatar" src="<?=$this->CurrentUser->AvatarThumbnailUrl ? $this->CurrentUser->AvatarThumbnailUrl : '/images/default_avatar.png';?>" width="96" height="96" alt="Avatar" />
          <?php if($this->CurrentUser->AvatarMediaId) { 
            $m = new Data('Media', $this->CurrentUser->AvatarMediaId);           
          ?>
          </a>
          <?php } ?>          
          <h4 class="text-center"><a href="/profile"><?=$this->CurrentUser->DisplayName; ?></a><br /><small>@<?=$this->CurrentUser->ProfileName; ?></small></h4>          
          <div class="row">
          <?php
          $profile = $pf->GetProfile(array('ProfileId' => $this->CurrentUser->ProfileId)); 
          ?>
          
            <div class="col-4 text-center"><h6>Responses</h6><span><?=$profile['Profile']->ResponseCount; ?></span></div>
            <div class="col-4 text-center dashboard-border-lr"><h6>Images</h6><span><?=$profile['Profile']->ImageCount; ?></span></div>
            <div class="col-4 text-center"><h6>Followers</h6><span><?=$profile['Profile']->FollowerCount; ?></span></div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Begin Notification Thing -->
    <div class="col-sm-6 col">

      <!-- Start Notification Section -->
      <div class="poll-personal-newsfeed" title="Newsfeed" id="personal_newsfeed" data-digifi-source="newsfeed.GetFeed" data-digifi-source-args="[0]" data-digifi-json-transform="thinkster.transform.newsfeedCards"></div>
      
      
    </div>

    <div class="col-sm-3 hidden-xs poll-fixed">        
      
      <div class="card">
        <div class="card-header"><i class="fa fa-graph fa-pull-right"></i> Trending Questions</div>
        <div class="card-body">      
          <div data-digifi-source="newsfeed.GetTrending" data-digifi-json-transform="thinkster.transform.questionList"></div>          
        </div>        
      </div>  

    </div>

  </div>
  

</div>  
  
</contentPlaceHolder>