<?php
global $config;

$q = new DatabaseQuery();

if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}

$this->initialize(array('Title' => 'Notifications', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">
</contentPlaceHolder>

<contentPlaceHolder id="body">
  <div class="container">    
    <div class="card">
      <div class="card-header text-center">Notifications <span class="ml-3 badge badge-secondary poll-notification-unread-count"></span></div>
      <div class="poll-blue-list poll-notification-list" id="notification_page_list" data-digifi-source="notifications.GetNotifications" data-digifi-json-transform="thinkster.transform.notifications">      
                                          
      </div>        
    </div>
  </div>
</contentPlaceHolder>