<?php
global $config;

$q = new DatabaseQuery();

/*if(!$this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}   */

if(!isset($_GET['param'])) {
  //Get random question, redirect user to it:
  $found = false;
  $poll = null;
  
  while(!$found) {
    $q->sql = "SELECT PollId, UrlSegment, AreResultsPublic, FilterSQL FROM Poll WHERE IsAvailable != 0 ORDER BY RAND() LIMIT 0,1";
    
    $poll = $q->executeObjects();
    
    if(!$poll || count($poll) == 0) {
      header('Location: /');
      return;
    }
    
    $found = $poll[0]->AreResultsPublic || !$poll[0]->FilterSQL;       
  }
  
  header('Location: /poll/' . $poll[0]->UrlSegment);
  return;
}

$q->sql = "SELECT l.Latitude, l.Longitude	 
FROM Profile p
JOIN Location l ON l.LocationId = p.LocationId
WHERE p.ProfileId = ?ai_profileid";

$q->addParameter('ai_profileid', $this->CurrentUser->ProfileId);

$location = $q->executeObjects();

$this->initialize(array('Title' => 'Poll: ' . $this->Page->Viewing->Question, 'MasterPageFile' => 'master.htm', 'PushRooms' => ['PO' . $this->Page->Viewing->PollId] ));
?>
<contentPlaceHolder id="head">
  <meta property="og:url"           content="<?=$config->SiteUrl; ?>/poll/<?= $_GET['param'];?>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<?=htmlentities('Poll: ' . $this->Page->Viewing->Question); ?>" />
  <meta property="og:description"   content="Answer this question and find out how your friends answered!" />
  <meta property="og:image"         content="<?=$config->SiteUrl; ?>/images/thinkster200x200.jpg" />
</contentPlaceHolder>

<contentPlaceHolder id="body">

<div class="container">
  <iframe id="poll_container_frame" class="poll-container" src="/embed2/<?=$this->Page->Viewing->UrlSegment; ?>" border="0" style="width: 100%; height: 380px; border: 0;"></iframe>
</div>

</contentPlaceHolder>
