<?php
global $config;

$q = new DatabaseQuery();

if(!$this->CurrentUser->IsLoggedIn() || !$this->Page->Viewing) {
  header('Location: /');
  return;
}

$bannerSrc = "/images/boring_header.png";
$banner = null;

if($this->Page->Viewing->BannerMediaId) {
  $banner = new Data('Media', $this->Page->Viewing->BannerMediaId);
  
  $bannerSrc = $banner->Url;  
}


$this->initialize(array('Title' => $this->Page->Viewing->DisplayName, 'MasterPageFile' => 'master.htm', 'PushRooms' => ['PR' . $this->Page->Viewing->ProfileId] ));
?>
<contentPlaceHolder id="head">

<meta name="description" content="Thinkster User <?=$this->Page->Viewing->DisplayName; ?>" />
<script>
thinkster.CurrentPage.ProfileId = <?=$this->Page->Viewing->ProfileId; ?>;
</script>
</contentPlaceHolder>

<contentPlaceHolder id="body">

<div class="container">

  <div class="card">    
    
    <div id="profile_banner_image" style="height: 250px; background-image: url(<?=$bannerSrc; ?>); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>    
    <?php if($this->Page->Viewing->BannerMediaId) { 
      ?><a href="<?='/media/' . $banner->Selector;?>" class="poll-banner-link"><?php } ?>        
      <div class="card-img-overlay">
        <?php if($this->Page->Viewing->IsMe) { ?><button type="button" id="admin_change_header_button" class="btn btn-primary btn-rounded waves-effect pull-right">Change Image</button><?php } ?>
        <div class="mt-4 text-center" id="user_blocked_message" <?=($this->Page->Viewing->BlockedByMe ? '' : 'hidden'); ?>>
          <div class="alert alert-warning">
            <h4 class="alert-heading"><?=htmlentities($this->Page->Viewing->DisplayName); ?> is <strong><u>blocked</u></strong></h4>
            <p>You have blocked <?=htmlentities($this->Page->Viewing->DisplayName); ?>. They cannot see your profile or any content you create until you unblock them.</p>
            <hr />
            <button type="button" class="unblock-user-button btn btn-secondary">Unblock <?=htmlentities($this->Page->Viewing->DisplayName); ?></button>
          </div>        
        </div>              
      </div> 
    <?php if($this->Page->Viewing->BannerMediaId) { ?></a><?php } ?>   
    <div class="card-body" style="z-index: 100;">  
      <?php if($this->Page->Viewing->AvatarMediaId) { 
        $avatar = new Data('Media', $this->Page->Viewing->AvatarMediaId); 
      ?><a href="<?='/media/' . $avatar->Selector;?>"><?php } ?>
      <img class="poll-avatar" id="current_user_dashboard_avatar" src="<?=$this->Page->Viewing->AvatarThumbnailUrl ? $this->Page->Viewing->AvatarThumbnailUrl : '/images/default_avatar.png';?>" width="96" height="96" alt="Avatar" />
      <?php if($this->Page->Viewing->AvatarMediaId) { ?></a><?php } ?>         
      <div class="d-flex w-100 justify-content-between">
        <h3><?=$this->Page->Viewing->DisplayName; ?></h3>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <?php if(!$this->Page->Viewing->IsMe) { ?>
          <button id="btn_send_message" type="button" class="btn btn-primary" title="message <?=htmlentities($this->Page->Viewing->DisplayName); ?>" data-toggle="modal" data-target="#messenger"><i class="fa fa-fw fa-envelope-o"></i> message</button>
          <?php if($this->Page->Viewing->Following) { ?>
	 									<button id="btn_follow" type="button" class="btn btn-warning" data-button="F"><i class="fa-fw fa fa-check"></i> Following</button>
	 								<?php } else { ?>
	 									<button id="btn_follow" type="button" class="btn btn-warning" data-button=""><i class="fa-fw <?=$this->Page->Viewing->FollowStatusIcon; ?>"></i> <?=$this->Page->Viewing->FollowStatus; ?></button>
	 								<?php 
                  }	 							              
            } else { ?>
          <?php } ?>   
          <div class="btn-group" role="group">
            <button id="profile_gear_button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Additional Actions" title="Additional Actions">
              <i class="fa fa-fw fa-gear"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="profile_gear_button">
              <?php if(!$this->Page->Viewing->IsMe) {?>
              <button class="dropdown-item <?=($this->Page->Viewing->BlockedByMe ? 'unblock' : 'block'); ?>-user-button" type="button"><i class="fa fa-fw fa-user-times"></i> <?=($this->Page->Viewing->BlockedByMe ? 'Unblock' : 'Block'); ?> User</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item poll-flag-button" data-poll-type="User" data-poll-targettype="PR" data-poll-targetid="<?=$this->Page->Viewing->ProfileId; ?>" type="button"><i class="fa fa-fw fa-flag"></i> Report User</button>
              <?php } else { ?>
              <a class="dropdown-item" href="/settings"><i class="fa fa-fw fa-wrench"></i> Profile Settings</a>
              <?php } ?>
            </div>
          </div>       
        </div>
        
        
      </div>
      <div class="d-md-flex w-100">
        <div>          
          <i class="fa fa-fw fa-at mr-1"></i> <a href="/profiles/<?=$this->Page->Viewing->ProfileName; ?>"><?=$this->Page->Viewing->ProfileName; ?></a><br />
          <?php if($this->Page->Viewing->IsLocationDefined && $this->Page->Viewing->City) { ?>
          <i class="fa fa-fw fa-map-marker mr-1"></i> <?=$this->Page->Viewing->City . ', ' . $this->Page->Viewing->State; ?><br />
          <?php } ?>
          <i class="fa fa-fw fa-calendar mr-1"></i> Joined <?=date('F Y', strtotime($this->Page->Viewing->Joined)); ?>
        </div>
        <div class="d-flex justify-content-between poll-stat-boxes pl-md-4">
          <div class="p-3 text-center border-0"><h5 class="m-0">Responses</h5>
            <a id="select_response_tab" href="#user_responses"><?=$this->Page->Viewing->ResponseCount; ?></a>
          </div>          
          <div class="p-3 text-center"><h5 class="m-0">Followers</h5>
            <a id="display_followers" href="#"><?=$this->Page->Viewing->FollowerCount; ?></a>
          </div>
          <div class="p-3 text-center"><h5 class="m-0">Following</h5>
            <a id="display_following" href="#"><?=$this->Page->Viewing->FollowingCount; ?></a>
          </div>        
        </div>        
      </div>
      <?php if($this->Page->CurrentUser->IsPrivate && $this->Page->Viewing->FollowMeRequested) { ?>
      <div class="row justify-content-center mt-2 mb-2 poll-follow-request" data-follower-id="<?=$this->Page->Viewing->ProfileId; ?>">
        <div class="col-md-6">
          <div class="alert alert-info text-center rounded">
            <p><?=$this->Page->Viewing->DisplayName; ?> has requested to follow you.</p>
            <p>
              <button type="button" class="btn btn-success mr-2 poll-accept-follow-request" data-poll-id="<?=$this->Page->Viewing->ProfileId; ?>"><i class="fa fa-fw fa-check"></i> Accept</button>              
              <button type="button" class="btn btn-danger ml-2 poll-decline-follow-request" data-poll-id="<?=$this->Page->Viewing->ProfileId; ?>"><i class="fa fa-fw fa-times"></i> Decline</button>
            </p>
          </div>
        </div>
      </div>                
      <?php } ?>
  </div>
</div>
  
  
  <!-- Nav tabs  --> 
  <div class="tabs-wrapper"> 
      <ul class="nav classic-tabs tabs-blue nav-justified" role="tablist">
          <li class="nav-item">
              <a id="responses_tab" class="nav-link waves-light active" data-toggle="tab" href="#user_responses" role="tab"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i><br> Responses</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="#user_images" role="tab"><i class="fa fa-image fa-2x" aria-hidden="true"></i><br> Images</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="#user_friends" role="tab"><i class="fa fa-users fa-2x" aria-hidden="true"></i><br> Compatibility</a>
          </li>
          <!--<li class="nav-item text-center">
              <a class="nav-link waves-light" data-toggle="tab" href="#user_friends" role="tab">
                <i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <br> Followers<br /><small><?=$this->Page->Viewing->FollowerCount; ?></small>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="#user_friends" role="tab">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i>
                <br> Following<br /><small><?=$this->Page->Viewing->FollowingCount; ?></small></a>
          </li> -->
      </ul>
  </div>
  
  <!-- Tab panels -->
  <div class="tab-content card mt-0 pt-0">
  
      <!--Panel 1-->
      <div class="tab-pane fade in show active" id="user_responses" role="tabpanel">
        <?php if(!$this->Page->isMe && $this->Page->Viewing->IsPrivate && !$this->Page->Viewing->Following) { ?>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning m-4">
              <i class="fa fa-lock fa-fw fa-pull-left fa-3x"></i>
              <p>This account is private. You have to follow <?=$this->Page->Viewing->DisplayName; ?> to see their responses.</p>
            </div>
          </div>
        </div>        
        <?php } else { ?>
        <div data-digifi-source="profile.GetResponseTimeline" data-digifi-source-args="[0]" data-digifi-json-transform="thinkster.transform.newsfeedCards">

        </div>  
        <?php } ?>
      </div>
      <!--/.Panel 1-->
  
      <!--Panel 2-->
      <div class="tab-pane fade" id="user_images" role="tabpanel">
           <?php if(!$this->Page->isMe && $this->Page->Viewing->IsPrivate && !$this->Page->Viewing->Following) { ?>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning m-4">
              <i class="fa fa-lock fa-fw fa-pull-left fa-3x"></i>
              <p>This account is private. You have to follow <?=$this->Page->Viewing->DisplayName; ?> to see their images.</p>
            </div>
          </div>
        </div>        
        <?php } else { ?>
          <?php if($this->Page->isMe) { ?>
          <div class="text-center" id="image_upload_button">
            <span class="btn btn-lg btn-secondary fileinput-button m-2">
              <i class="fa fa-plus"></i>
              <span>Upload Image...</span>
              <input id="image_upload" type="file" name="files[]" data-url="/uploads" >
            </span>
          </div>     
          
          <div id="image_upload_step_2" hidden>
            Step 2 here. You shouldn't see this. Stop looking at it.
          </div>                  
          <?php } ?> 
                         
          <div id="image_list" class="poll-image-list" data-digifi-source="profile.GetImages"
           data-digifi-source-args="[0]"
           data-digifi-json-transform="thinkster.transform.imageList"></div>
          <?php } ?> 
      </div>
      <!--/.Panel 2-->
  
      <!--Panel 3-->
      <div class="tab-pane fade pt-0" id="user_friends" role="tabpanel">
        <?php if(!$this->Page->isMe && $this->Page->Viewing->IsPrivate && !$this->Page->Viewing->Following) { ?>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning m-4">
              <i class="fa fa-lock fa-fw fa-pull-left fa-3x"></i>
              <p>This account is private. You have to follow <?=$this->Page->Viewing->DisplayName; ?> to see their compatibility with you.</p>
            </div>
          </div>
        </div>        
        <?php } else { ?>
          <div class="btn-group m-0 mb-2 d-flex w-100" data-toggle="buttons" id="comaptibility_categories" >
          <?php if($this->Page->Viewing->ProfileId == $this->CurrentUser->ProfileId) { ?>
            <label class="btn btn-outline-primary active">
              <input type="radio" name="compat_pollcategory" autocomplete="off" value="0" checked><i class="fa fa-fw fa-globe"></i><br /><span class="hidden-md-down">Overall</span>
            </label>
          <?php
          
          $q->sql = "SELECT DISTINCT pc.PollCategoryId, pc.Name, pc.IconClass 
FROM PollCategory pc
JOIN Poll p ON p.PollCategoryId = pc.PollCategoryId
ORDER BY pc.Name";

          $categories = $q->executeObjects();
          
          foreach($categories as $category) { 
            ?>
            <label class="btn btn-outline-primary">
              <input type="radio" name="compat_pollcategory" value="<?=$category->PollCategoryId; ?>" autocomplete="off"><i class="fa-fw <?=$category->IconClass; ?>"></i><br /><span class="hidden-md-down"><?=$category->Name; ?></span>
            </label>
            <?php
          }
          ?>
          </div>
          <div id="following_compatibility" data-digifi-source="profile.GetFollowingCompatibility"
           data-digifi-source-args="[$('#comaptibility_categories :radio:checked').val()]"
           data-digifi-json-transform="thinkster.transform.compatibility"></div> 
          <?php } else { ?>
          <div id="compatibility_with_me" class="w-100" data-digifi-source="profile.GetCompatibility"
           data-digifi-json-transform="thinkster.transform.personalCompatibility"></div>                   
          <?php } ?>
        <?php } ?>
      </div>
      <!--/.Panel 3-->
  
  </div>
                              

</div>

<div id="follower_list" class="modal fade">  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users Following <?=$this->Page->isMe ? 'Me': $this->Page->Viewing->DisplayName; ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;
          </span>
        </button>
      </div>
      <div class="modal-body digifi-no-initial-load" 
        data-digifi-source="profile.GetFollowers" 
        data-digifi-json-transform="thinkster.transform.followableUserList" 
        style="max-height: 280px; overflow: auto;">
      </div>                                       
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="following_list" class="modal fade">  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users Followed by <?=$this->Page->isMe ? 'Me': $this->Page->Viewing->DisplayName; ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;
          </span>
        </button>
      </div>
      <div class="modal-body digifi-no-initial-load" 
        data-digifi-source="profile.GetFollowing"
        data-digifi-json-transform="thinkster.transform.followableUserList" 
        style="max-height: 280px; overflow: auto;">Following list goes here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
  
<?php if($this->Page->isMe) { ?>
<div class="digifi-popup" 
    id="banner_uploader"
    data-digifi-buttons="[{Text: 'Cancel', Action: 'Cancel'}]"
    data-digifi-update="profile.PostBanner"
    title="Upload Your Banner">    
    <input type="hidden" id="au_existing" data-digifi-value="ExistingMediaId" />
    <input type="hidden" id="au_event_id" data-digifi-value="EventId" />
    <div class="poll-avatar-step text-center" id="event_image_step_1">
      <p class="text-muted">Hint: ideal banners should be at least 2000x200 pixels in size</p>
      <span class="btn btn-lg btn-secondary fileinput-button">
        <i class="fa fa-plus"></i>
        <span>Upload Image...</span>
        <input id="event_upload" type="file" name="files[]" data-url="/uploads" >
      </span>
      <div id="recent_uploads" 
        data-digifi-source="profile.GetRecentImages"
        data-digifi-json-transform="thinkster.transform.recentImages"></div>
    </div>
    
    <div class="poll-avatar-step" id="event_image_step_2" hidden>
    I'm step 2!
    </div>
</div>
<?php } else { ?>

<div class="digifi-popup" id="messenger"
  data-digifi-buttons="[{Text: 'Send', Icon: 'fa fa-paper-plane fa-fw', Action: 'Save'},{Text: 'Cancel', Action: 'Cancel'}]"
  data-digifi-update="profile.SendMessage"
  title="Send a message to <?=$this->Page->Viewing->DisplayName; ?>">
  <textarea class="form-control" data-digifi-value="Message" rows="5" cols="30" required="required" data-digifi-required-prompt="You must provide a message to send" id="message_text"></textarea>
</div>

<?php } ?>

</contentPlaceHolder>