<?php
global $config;

$q = new DatabaseQuery();

$requestedEndpoint = '';

$endpoint = new Data('PushEndpoint'); 

if(isset($_GET['param'])) {
 $requestedEndpoint = $_GET['param'];
      
 $endpoint->load(array('Name' => $requestedEndpoint));
}

function functionNameToLink($matches) {
  return '<a href="/apireference/' . $matches[2] . '">' . $matches[2] . '</a>'; 
}

function endpointNameToLink($matches) {
  return '<a href="/pushreference/' . $matches[2] . '">' . $matches[2] . '</a>'; 
}

function processAPILinks($input) {
  $input = preg_replace_callback('/(\[\[([^\]]+)\]\])/i', 'functionNameToLink', $input);
  
  $input = preg_replace_callback('/(\{\{([^\}]+)\}\})/i', 'endpointNameToLink', $input);
  
  return $input; 
}

function statusTextColor($def) {
   //if(!isset($def['Status'])) return "text-danger";
   
   switch($def) {
      case 'Dev':
        return "list-group-item-danger";
      break;
      
      case 'Test':
        return "list-group-item-warning";
      break;
   }
   
   return "";
}   

function statusText($def) {
   //if(!isset($def['Status'])) return "Under development";
   
   switch($def) {
      case 'Dev':
        return "Under development";
      break;
      
      case 'Test':
        return "Available for testing";
      break;
   }
}


$this->initialize(array('Title' => ($requestedEndpoint == '' ? '' : $requestedEndpoint . ' ') . $config->SiteName . ' Push Endpoint Reference', 'MasterPageFile' => 'master.htm' ));

$javascript = ""; 
?>
<contentPlaceHolder id="head">

<?php if($endpoint->isNewRow()) { ?>
<meta name="description" content="<?=$config->SiteName; ?> Push Endpoint reference document" />
<?php } else { ?>
<meta property="og:title" content="<?=htmlentities($endpoint->Name . ' - ' . $config->SiteName . ' Push Endpoint Reference'); ?>" />
<meta name="description" content="<?=htmlentities($endpoint->Description); ?>" />        	   
<?php } ?>
<meta property="og:type" content="article" />

</contentPlaceHolder>

<contentPlaceHolder id="body">   
  <div class="container-fluid">
    <h1><?=$config->SiteName;?> Push Endpoint Reference</h1>
  

    <div class="row"> 
      <div class="col-sm-5 col-md-4 col-lg-3 col-12">
        <div class="card">
          <div class="card-header">Contents</div>
          <div class="list-group list-group-flush">
            <a href="/pushreference" class="list-group-item <?=($requestedEndpoint == '' ? 'active' : ''); ?>">Overview</a>
            
            <?php
            
            $q->sql = "SELECT Name, DevStatus 
            FROM PushEndpoint
            ORDER BY Name";
            
            $endpoints = $q->executeObjects(); 
            
            foreach($endpoints as $e) { ?>
            <a href="/pushreference/<?=$e->Name; ?>" title="<?=statusText($e->DevStatus); ?>" class="list-group-item list-group-item-action <?=statusTextColor($e->DevStatus); ?> <?=($requestedEndpoint == $e->Name ? 'active' : ''); ?>"><?=$e->Name; ?></a>
            <?php } ?>  
            
            <?php if($this->CurrentUser->MemberOf('Developer')) { ?>            
            <div class="list-group-item text-center">
              <a href="#" class="btn btn-success" id="add_endpoint"><i class="fa fa-plus mr-1"></i> Add Endpoint</a>
            </div>
            <?php } ?>
            
          </div>
        </div>                 
      </div>
      
      <div class="col-sm-7 col-md-8 col-lg-9 col-12">
        <?php if($requestedEndpoint == '') { ?>
        
          <div class="card">
            <div class="card-header">Push Notification Overview</div>
            <div class="card-body">
              <div class="row">
                <div class="col-6 offset-3">
                  <div class="alert alert-warning"><i class="fa fa-warning fa-3x fa-pull-left"></i><p>At this time <?=$config->SiteName; ?>'s push notification system is closed to external developers</p></div>
                </div>
              </div>
              
              <p class="card-text"><?=$config->SiteName; ?>'s Push Notification System is run off a separate node.js push server, located at http://devpush.thinkster.ca in development and http://push.thinkster.ca in production.</p>
            </div>
          </div>
        
        <?php } else { 
          
          
          if($endpoint->isNewRow()) {
        ?>
          <div class="row">
            <div class="col-6 offset-3">
              <div class="alert alert-danger"><i class="fa fa-frown-o fa-3x fa-pull-left"></i><p>Invalid endpoint (<?=$requestedEndpoint; ?>) requested.</p></div>
            </div>
          </div>
        <?php } else { ?>                
        
          <div class="card">
            <div class="card-header"><?=$endpoint->Name; ?></div>
            <div class="card-body">
              
              <?php switch($endpoint->DevStatus) { 
                case 'Dev':
              ?>
                        
              <div class="alert alert-danger"><i class="fa fa-warning fa-3x fa-pull-left"></i><p>This endpoint is marked as being <strong>Under Development</strong>. There information here will likely change rapidly, and it may not be functional at all at times.</p>            
              <p>Do not use this method or trust its results until its status has changed.</p></div>
                     
              <?php break;
                case 'Test': ?>

                <div class="alert alert-warning"><i class="fa fa-warning fa-3x fa-pull-left"></i><p>This endpoint is marked as being <strong>Available for Testing</strong>. You are welcome to test it out and provide feedback on the results.</p>            
            <p><strong>Note:</strong> the information here may change infrequently during the testing phase.</p></div>
              <?php break;
              } ?>
              
              <p class="card-text"><?=nl2br(processAPILinks($endpoint->Description));?></p>
              <h3>Remarks</h3>
              <p class="card-text"><?=nl2br(processAPILinks($endpoint->Remarks));?></p>
              <h3>Example Data</h3>
              <pre><code><?=json_encode(json_decode($endpoint->ExampleResponse), JSON_PRETTY_PRINT);?></code></pre>
              
              <?php if($this->CurrentUser->MemberOf('Developer')) { ?>
              <hr />
              
              <div class="text-center">
                <button type="button" id="edit_endpoint_button" data-digifi-id="<?=$endpoint->PushEndpointId; ?>" class="btn btn-primary"><i class="fa fa-pencil mr-1"></i> Edit Endpoint</button>
              </div>
              
              <?php } ?>
              
            </div>
          </div>
        <?php }
        } ?>                	                    
      </div>
    </div>
  </div>
  
  <?php if($this->CurrentUser->MemberOf('Developer')) { ?>
  
  <div id="edit_endpoint" 
    class="digifi-popup digifi-auto-layout"
    title="Edit Endpoint"
    data-digifi-source="pushreference.GetEndpoint"
    data-digifi-update="pushreference.SaveEndpoint"
    data-digifi-add-title="Add Endpoint">
      <input id="ee_name" title="Name" required="required" data-digifi-value="Name" />
      <textarea id="ee_description" title="Description" data-digifi-value="Description"></textarea>
      <textarea id="ee_remarks" title="Remarks" data-digifi-value="Remarks"></textarea>
      <input id="ee_senttomobile" type="checkbox" title="Sent to Mobile Devices" data-digifi-value="IsSentToMobile" />
      <select id="ee_devstatus" class="mdb-select" title="Status" data-digifi-value="DevStatus"> 
        <option value="Dev">Development</option>
        <option value="Test">Testing</option>
        <option value="Live">Live</option>
      </select>
      <textarea id="ee_example" title="Sample Response" data-digifi-value="ExampleResponse"></textarea>
  </div> 
  
  <?php } ?>
  
</contentPlaceHolder>