<?php

	//If the user is not logged in and it is not their own profile, return
	if(!$this->CurrentUser->IsLoggedIn()) {
	  header('Location: /');
	  return;
	}

	//Get all the account types of the user.
/*	$q = new DatabaseQuery();

	$q->sql = "SELECT at.AccountTypeCode, at.Name, 
          pa.DisplayName,
          pa.ProfileAccountId, pa.EmailAddress, pa.IsPrimary,
          IFNULL(pa.AvatarUrl, '/images/default_avatar.png') AvatarUrl          
			   FROM AccountType at
			   LEFT JOIN ProfileAccount pa ON at.AccountTypeCode = pa.AccountTypeCode AND pa.ProfileId = ?ai_profileId
			   WHERE at.IsActive = 1
			  ORDER BY IsPrimary DESC";

	$q->addParameter("ai_profileId",$this->CurrentUser->ProfileId);

	$accounts = $q->executeObjects();
                                      */
	//Count the # of accounts
	$q = new DatabaseQuery();

	$q->sql = "SELECT count(*) 'Count' FROM AccountType at
			  JOIN ProfileAccount pa ON at.AccountTypeCode = pa.AccountTypeCode AND pa.ProfileId = ?ai_profileId";

	$q->addParameter("ai_profileId",$this->CurrentUser->ProfileId);

	$count = $q->executeScalar();


function GetExposureList($selectedValue)
{
	$q = new DatabaseQuery();
	$q->sql = "SELECT ExposureTypeCode, Name
				FROM ExposureType";
	$options = $q->executeObjects();
	foreach($options as $option) {
		echo '<option value="'.$option->ExposureTypeCode.'"' . ($option->ExposureTypeCode == $selectedValue ? ' selected="selected"' : '') . '>'.htmlentities($option->Name).'</option>';
	}
}

$this->initialize(array('Title' => 'Profile Settings', 'MasterPageFile' => 'master.htm', 'Access' => array('LoggedIn') ));

?>
<contentPlaceHolder id="head">
<style>

</style>
</contentPlaceHolder>

<contentPlaceHolder id="body">
<div class="container">
  	<div class="row">
    	<div class="col-md-6">
        <div class="digifi-panel" title="Profile Settings">
      		<h5>General Settings</h5>
                          
          <div class="form-group row">
            <label for="IsFollowable" class="col col-form-label">Account Privacy:</label>
            <div class="col text-right">              
              <select id="IsPrivate" class="mdb-select poll-exposure">
  							<option value="0" <?=$this->CurrentUser->IsPrivate ? '' : 'selected'; ?>>Public: Anyone can view and follow my profile</option>
                <option value="1" <?=$this->CurrentUser->IsPrivate ? 'selected' : ''; ?>>Private: I approve requests to view and follow my profile</option>
  						</select>
            </div>
          </div>
          
          <hr />
          
          <h5>Who Can View Your...</h5>
          
          <div class="form-group row">
            <label for="FriendsExpTypeCode" class="col-sm-8 col-form-label">Followers</label>
            <div class="col-sm-4 text-right">
              <select id="FriendsExpTypeCode" class="mdb-select poll-exposure">
  							<?php GetExposureList($this->CurrentUser->FriendsExpTypeCode); ?>
  						</select>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="ContactInfoExpTypeCode" class="col-sm-8 col-form-label">Contact Info</label>
            <div class="col-sm-4 text-right">
              <select id="ContactInfoExpTypeCode" class="mdb-select poll-exposure">
  							<?php GetExposureList($this->CurrentUser->ContactInfoExpTypeCode); ?>
  						</select>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="LocationExpTypeCode" class="col-sm-8 col-form-label">Location</label>
            <div class="col-sm-4 text-right">
              <select id="LocationExpTypeCode" class="mdb-select poll-exposure">
  							<?php GetExposureList($this->CurrentUser->LocationExpTypeCode); ?>
  						</select>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="BirthdayExpTypeCode" class="col-sm-8 col-form-label">Birthday</label>
            <div class="col-sm-4 text-right">
              <select id="BirthdayExpTypeCode" class="mdb-select poll-exposure">
  							<?php GetExposureList($this->CurrentUser->BirthdayExpTypeCode); ?>
  						</select>
            </div>
          </div>
          
          <hr />
          
          <h5>Questions and Responses</h5>
          <div class="form-group row">
            <label for="QuestionsExpTypeCode" class="col-sm-8 col-form-label">Default Privacy Setting for your Responses</label>
            <div class="col-sm-4 text-right">
              <select id="QuestionsExpTypeCode" class="mdb-select poll-exposure">
  							<?php GetExposureList($this->CurrentUser->QuestionsExpTypeCode); ?>
  						</select>
            </div>
          </div>  
      </div>  
      
      <div class="digifi-panel" title="Blocked Users" 
        id="blocked_users" data-digifi-source="settings.GetBlockedUsers"
        data-digifi-buttons="['Refresh']"
        data-digifi-json-transform="thinkster.transform.blockedUsers">
        
      </div>
      
		</div>

		<div class="col-md-6">
      <div class="digifi-panel" title="Accounts" 
        id="profile_accounts" data-digifi-source="settings.GetProfileAccounts"
        data-digifi-json-transform="thinkster.transform.profileAccounts">
      </div>
		
		</div>
	</div>



</div>

<div class="digifi-popup" 
    id="avatar_uploader"
    data-digifi-buttons="[{Text: 'Post', Action: 'Save'},{Text: 'Cancel', Action: 'Cancel'}]"
    data-digifi-update="settings.PostAvatar"
    title="Upload Your Avatar">    
    <input type="hidden" id="au_existing" data-digifi-value="ExistingMediaId" />
    <input type="hidden" id="au_profile_account_id" data-digifi-value="ProfileAccountId" />
    <div class="poll-avatar-step text-center" id="avatar_step_1">
      <p class="text-muted">Hint: ideal avatars should be at least 220x200 pixels in size</p>
      <span class="btn btn-lg btn-secondary fileinput-button">
        <i class="fa fa-plus"></i>
        <span>Upload Image...</span>
        <input id="avatar_upload" type="file" name="files[]" data-url="/uploads" >
      </span>
      <div id="recent_uploads" 
        data-digifi-source="settings.GetRecentImages"
        data-digifi-json-transform="thinkster.transform.recentImages"></div>
    </div>
    
    <div class="poll-avatar-step" id="avatar_step_2" hidden>
    I'm step 2!
    </div>
</div>

<div class="digifi-popup digifi-auto-layout"
  id="password_change"
  data-digifi-update="settings.ChangePassword"
  title="Change Password">
  <input id="pc_current" title="Current Password" required type="password" maxlength="50" data-digifi-value="CurrentPassword" />
  <input id="pc_new" title="New Password" required type="password" maxlength="50" data-digifi-value="NewPassword" />
  <input id="pc_confirm" title="Confirm Password" required type="password" maxlength="50" data-digifi-value="ConfirmPassword" />
</div>


</contentPlaceHolder>