<?php
global $config;

$lockedDown = false;


if($config->Mode == 'alpha' && (!isset($_GET['entry']) || $_GET['entry'] != $config->AlphaCode)) {
  $lockedDown = true; 
}

$pf = new PollFunctions();

$q = new DatabaseQuery();

if($this->CurrentUser->IsLoggedIn()) {
  header('Location: /');
  return;
}

include_once('../inc/JSCompiler.php');

$this->initialize(array('Title' => 'Welcome to ' . $config->SiteName, 'MasterPageFile' => 'master.htm', 'HideHeaderFooter' => true ));
?>
<contentPlaceHolder id="head">      
  <meta name="description" content="Thinkster, answer questions, see results, connect on a whole new level" />
  <script>thinkster.CurrentPage.ReturnUrl = <?=(isset($_GET['ReturnUrl']) ? "'" . urlencode($_GET['ReturnUrl']) . "'" : 'null'); ?>;</script>
  <style>
    /*#poll_signup .form-control {
      color: #fff !important; 
    }
    
    #poll_signup .form-control::placeholder {
      color: #ddd !important; 
    }
    
    #poll_signup .select-dropdown {
      color: #eef !important; 
      width: auto !important;
    }   */
    
    .store-details {
      background-image: url(/images/splash_phone_bg.png);
      background-position: center 250px; 
      background-repeat: no-repeat;            
    }
    
    .splash-row > div { 
      min-height: 1200px;
    }
  </style>

</contentPlaceHolder>
  
<contentPlaceHolder id="body">

    <div class="container-fluid">
      <div style="background-color: #31bedc;">              
       
      
        <div class="row splash-row">          
        
          <div class="col-12 col-md-4">
            <div style="background-color: #fff; height: 100%;" class="pt-4">
              <div class="text-center"><img src="/images/admin_logo.png" /></div>
              
              <div class="tab-wrapper">
                <p class="nav text-center mt-4 justify-content-center" role="tablist">
                  <a class="nav-link btn btn-primary active" id="signin_tab_toggle" data-toggle="tab" href="#signin" role="tab">Sign In</a>
                  <a class="nav-link btn btn-primary" data-toggle="tab" href="#signup" role="tab">Sign Up</a>
                  <a class="nav-link btn btn-primary" id="fp_tab_toggle" hidden data-toggle="tab" href="#forgot_pass_tab" role="tab">Forgot Password</a>                
                </p>
              </div>                       
              
              <!-- Tab panes -->
              <div class="tab-content">
                
                <!-- SignIn Form -->
                <div class="tab-pane active p-4" id="signin" role="tabpanel" aria-expanded="true">
                                   
                  <div id="ts_login">                  
                    <div class="form-group">
                      <label class="sr-only" for="li_email">Email Address</label>
                      <input type="email" class="form-control" id="li_email" placeholder="EMAIL ADDRESS" data-digifi-value="EmailAddress" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="sr-only" for="li_password">Password</label>
                      <input type="password" class="form-control" id="li_password" placeholder="PASSWORD" required data-digifi-value="Password">
                    </div>
                    
                    <p class="text-center pt-4">
                      <button id="li_login" type="button" class="btn btn-default poll-btn">Sign In</button>
                    </p>
                    
                    <p class="text-center mb-4 pb-4 mt-4" role="tablist">
                      <a class="" data-toggle="tab" href="#forgot_pass_tab" role="tab"><span id="forgot_pass_link">Forgot Password?</span></a>                      
                    </p>          
                    
                    <p class="text-center mb-4 pb-4 mt-4">
                      <img class="header-fb-login" role="button" src="/images/facebook.png" alt="Sign in with Facebook" width="20%" height="20%" title="Sign in with Facebook" />
                    </p>                              
                  </div>
                  
                </div>
                
                <!-- Signup Controls -->
                <div class="tab-pane p-4" id="signup" role="tabpanel">
                
                  <p class="text-center mb-4 pb-4 mt-4">
                    <img class="header-fb-login" role="button" src="/images/facebook.png" alt="Sign up using Facebook" width="20%" height="20%" title="Sign up using Facebook" />
                  </p> 
                
                  <div id="poll_signup">
                    <div class="form-group">
                      <label class="sr-only" for="su_firstname">First Name</label>
                      <input type="text" class="form-control text-capitalize" id="su_firstname" placeholder="FIRST NAME" data-digifi-value="FirstName" required>
                    </div>     
                    
                    <div class="form-group">
                      <label class="sr-only" for="su_lastname">Last Name</label>
                      <input type="text" class="form-control text-capitalize" id="su_lastname" placeholder="LAST NAME" data-digifi-value="LastName" required>
                    </div>
                                                 
                    <div class="form-inline">
                      <div class="form-group">
                        <label for="su_gender">GENDER</label>
                        <select class="ml-2 mdb-select" id="su_gender" placeholder="GENDER" data-digifi-value="GenderCode" required>
                          <?php
                          $q->sql = "SELECT GenderCode, Name FROM Gender ORDER BY Name";
            
                          $genders = $q->executeObjects();
            
                          foreach($genders as $gender) {
                            ?><option value="<?=$gender->GenderCode; ?>"><?=$gender->Name; ?></option><?php
                          }
                          ?>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="su_email">Email Address</label>
                      <input type="email" class="form-control" id="su_email" placeholder="EMAIL ADDRESS" data-digifi-value="EmailAddress" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="sr-only" for="su_country">Country</label>
                      <select class="mdb-select" id="su_country" placeholder="COUNTRY" data-digifi-value="CountryCode" required>
                        <?php
                        $result = $pf->GetAvailableCountries(array());
                        
                        foreach($result['Countries'] as $country) { 
                          ?><option value="<?=$country->CountryCode; ?>"><?=$country->Name; ?></option><?php
                        }
                        
                        ?>
                      </select>
                    </div>
                    
                    <div class="form-group">
                      <label class="sr-only" for="su_postal">Postal Code</label>
                      <input type="text" class="form-control" id="su_postal" placeholder="POSTAL CODE" maxlength="20" required data-digifi-value="PostalCode" />
                    </div>
                                      
                    <div class="form-inline">
                      <div class="form-group">
                        <label class="sr-only" for="su_birthmonth">DATE OF BIRTH</label>   
                        <input placeholder="Date of Birth" type="text" id="su_birthdate" class="form-control datepicker" value="1999-01-01" data-digifi-value="BirthDate" />                                             
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="su_password">Password</label>
                      <input type="password" class="form-control" id="su_password" placeholder="PASSWORD" required data-digifi-value="Password">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="su_confirm_password">Confirm Password</label>
                      <input type="password" class="form-control" id="su_confirm_password" placeholder="RE-ENTER PASSWORD" required data-digifi-match="su_password" data-digifi-match-prompt="Confirm and Password do not match">
                    </div>
            
                    <p class="text-center mt-4 mb-4"><button type="button" class="btn btn-default poll-btn" id="poll_signup_button">sign up</button></p>
            
                    <p>By clicking Sign Up, you agree to our <a href="#">Terms and conditions</a> and that you have read our <a href="#">Privacy Policy</a>, including our <a href="#">Cookie Use</a>.</p>
                  
                  </div>
                 </div>      
                 
                 <!-- Forgot Password Controls -->
                 <div class="tab-pane p-4" id="forgot_pass_tab" role="tabpanel">
                  
                    <div id="forgot_pass_1">
                      <p>
                        Enter your profile name below (e.g. john.smith).
                      </p>
                      <p>A reset token will be emailed to you at the email address you signed up for <?=$config->SiteName; ?> with.</p>
                      <div class="form-group">
                        <label class="sr-only" for="fp_profilename">Profile Name</label>
                        <input type="text" class="form-control" id="fp_profilename" placeholder="PROFILE NAME" data-digifi-value="ProfileName" required>
                      </div>
                      <p class="text-danger" id="reset_code_problem"></p>
                      <p class="text-center mt-4 mb-4"><button type="button" class="btn btn-warning poll-btn" id="get_password_code">Get Reset Code</button></p>
                    </div>
                    
                    <div id="forgot_pass_2" style="display: none">
                      <input type="hidden" id="fp_clientcode" />
                      <div class="alert alert-info">
                        <p>We have just <strong>emailed</strong> you a password reset code. This code can only be used on this page
                        and will expire in 8 hours.</p>
                        <p>Please check the email account you used when you signed up for <?=$config->SiteName; ?>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="fp_resetcode">Password Reset Code</label>
                        <input type="text" class="form-control" id="fp_resetcode" placeholder="PASSWORD RESET CODE" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="fp_password">New Password</label>
                        <input type="password" class="form-control" id="fp_password" placeholder="NEW PASSWORD" required >
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="su_confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="fp_confirm_password" placeholder="RE-ENTER PASSWORD" required data-digifi-match="fp_password" data-digifi-match-prompt="Confirm and New Password do not match">
                      </div>
                      <p class="text-danger" id="reset_password_problem"></p>
                      <p class="text-center mt-4 mb-4"><button type="button" class="btn btn-warning poll-btn" id="do_password_reset">Reset my Password</button></p>
                    </div>
                    
                    <div id="forgot_pass_3" style="display: none">
                      <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Your Password has been Changed!</h4>
                        <p>Your password has been changed. You can now sign in with your new password</p>
                      </div>
                      <p class="text-center mt-4 mb-4"><button type="button" class="btn btn-primary poll-btn" id="show_signin_tab">Return to Sign In</button></p>                                     
                    </div>
                  
                 </div>
                 
                        
              </div>  
              
              <p class="text-center mt-4 pl-4 pr-4 pb-0 mb-0 d-flex justify-content-center">
                <a href="/about">About</a>
                <a href="/terms_and_conditions" class="ml-4 mr-4">Terms &amp; Conditions</a>
                <a href="/privacy">Privacy Policy</a>
              </p>
              
              <br />
                
            </div>          
          </div>                    
          
          <div class="col-12 col-md-8 p-4 store-details">
            <p class="text-center"><img src="images/splash_tagline.png" alt="This is Thinkster, your best way to get insights about anything in the world" width="50%" /></p>
            <p class="text-center">
              <a href="#" class="mr-4"><img src="images/app_store.png" width="20%" alt="App Store" /></a>
              <a href="#" class="ml-4"><img src="images/google_play.png" width="20%" alt="Google Play" /></a>
            </p>                                    
          </div>      
        </div>
        
      </div>
    </div>
</contentPlaceHolder>