<?php
global $config;

$this->initialize(array('Title' => $config->SiteName . ' Support', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">
  <meta name="description" content="<?=$config->SiteName; ?> Support" />
</contentPlaceHolder>

<contentPlaceHolder id="body">
  <div class="container">
    <h1>Support</h1>
    <p>Information about getting support here</p>
  </div>
</contentPlaceHolder>