<?php

$this->initialize(array('Title' => 'Test', 'MasterPageFile' => 'master.htm' ));
?>
<contentPlaceHolder id="head">

<meta name="description" content="Messages" />


</contentPlaceHolder>

<contentPlaceHolder id="body">
<h1>Test</h1>



</contentPlaceHolder>